{{#section 'stylesheets'}}
{{/section}}
<div class="container">
  <div class="row justify-content-center">

    <div onclick="location.href = '/admin/transaction'" class="btn-index col-lg-3 list-group-item pt-4 pb-4 mr-2 ml-2 mt-5 mobile-font2 text-center">
      <i class="fas fa-barcode fa-lg ml-3 mr-4 float-left"></i>
      <span class="font-light float-left">Boletos pendentes</span>
      <i class="fas fa-angle-right fa-lg float-right"></i>
    </div>

    <div onclick="location.href = '/admin/users'" class="btn-index col-lg-3 list-group-item pt-4 pb-4 mr-2 ml-2 mt-5 mobile-font2 text-center">
      <i class="far fa-address-card fa-lg ml-3 mr-4 float-left"></i>
      <span class="font-light float-left">Usuários</span>
      <i class="fas fa-angle-right fa-lg float-right"></i>
    </div>

    <div onclick="location.href = '/admin/products'" class="btn-index col-lg-3 list-group-item pt-4 pb-4 mr-2 ml-2 mt-5 mobile-font2 text-center">
      <i class="fas fa-shopping-cart fa-lg ml-3 mr-4 float-left"></i>
      <span class="font-light float-left">Produtos</span>
      <i class="fas fa-angle-right fa-lg float-right"></i>
    </div>


    <div onclick="location.href = '/groups'" class="btn-index col-lg-3 list-group-item pt-4 pb-4 mr-2 ml-2 mt-5 mobile-font2 text-center">
      <i class="fas fa-users fa-lg ml-3 mr-4 float-left"></i>
      <span class="font-light float-left">Grupos</span>
      <i class="fas fa-angle-right fa-lg float-right"></i>
    </div>

    <div onclick="location.href = '/chems'" class="btn-index col-lg-3 list-group-item pt-4 pb-4 mr-2 ml-2 mt-5 mobile-font2 text-center">
      <i class="fas fa-flask fa-lg ml-3 mr-4 float-left"></i>
      <span class="font-light float-left">Princípios Ativos</span>
      <i class="fas fa-angle-right fa-lg float-right"></i>
    </div>

    <div onclick="location.href = '/newsletter'" class="btn-index col-lg-3 list-group-item pt-4 pb-4 mr-2 ml-2 mt-5 mobile-font2 text-center">
      <i class="fas fa-envelope fa-lg ml-3 mr-4 float-left"></i>
      <span class="font-light float-left">Newsletter</span>
      <i class="fas fa-angle-right fa-lg float-right"></i>
    </div>

    <div onclick="location.href = 'admin/offers'" class="btn-index col-lg-3 list-group-item pt-4 pb-4 mr-2 ml-2 mt-5 mobile-font2 text-center">
      <i class="fas fa-money-bill fa-lg ml-3 mr-4 float-left"></i>
      <span class="font-light float-left">Ofertas</span>
      <i class="fas fa-angle-right fa-lg float-right"></i>
    </div>
  </div>
</div>
{{#section 'scripts'}}
{{/section}}
