{{#section 'stylesheets'}}
{{/section}}

<ul class="list-group list-group-flush d-block">
  <li class="list-group-item">
    <i class="fas fa-barcode fa-lg mr-4"></i>
    <button onclick="location.href = '/admin/transaction'" class="btn">Boletos pendentes</button>
    <i class="fas fa-angle-right fa-lg float-right"></i>
  </li>
  <li class="list-group-item">
    <i class="far fa-address-card fa-lg mr-4 "></i>
    <button onclick="location.href = '/admin/users'" class="btn">Usuários</button>
    </i>
    <i class="fas fa-angle-right fa-lg float-right"></i>
  </li>
  <li class="list-group-item">
    <i class="fas fa-shopping-cart fa-lg mr-4"></i>
    <button onclick="location.href = '/admin/products'" class="btn">Produtos</button>
    <i class="fas fa-angle-right fa-lg float-right"></i>
  </li>
  <li class="list-group-item">
    <i class="fas fa-users fa-lg mr-4 "></i>
    <button onclick="location.href = '/groups'" class="btn">Grupos</button>
    <i class="fas fa-angle-right fa-lg float-right"></i>
  </li>
  <li class="list-group-item">
    <i class="fas fa-flask fa-lg mr-4 "></i>
    <button onclick="location.href = '/chems'" class="btn">Princípios ativos</button>
    <i class="fas fa-angle-right fa-lg float-right"></i>
  </li>
  <li class="list-group-item">
    <i class="far fa-envelope fa-lg mr-4 "></i>
    <button onclick="location.href = '/newsletterlist'" class="btn">Newsletter</button>
    <i class="fas fa-angle-right fa-lg float-right"></i>
  </li>
  <li class="list-group-item">
    <i class="fas fa-money-bill fa-lg mr-4 "></i>
    <button onclick="location.href = 'admin/offers'" class="btn">Ofertas</button>
    <i class="fas fa-angle-right fa-lg float-right"></i>
  </li>
</ul>

{{#section 'scripts'}}
{{/section}}
