{{#section 'stylesheets'}}
{{/section}}

<!-- NavBar -->
<div class="pos-f-t">
  <nav class="navbar navbar-dark">
    <button class="btn btn-outline-dark" type="button" onclick="history.back()">
      <i class="fas fa-arrow-left fa-2x"></i>
    </button>

    <form id="navbar-form" action="./results" method="get" class="float-right my-2 my-lg-0 my-sm-0">
      <input class="form-control my-2 my-sm-0 float-right" type="search" placeholder="Buscar">
      <button class="btn btn-outline-dark " type="button">
        <i class="fas fa-search fa-2x"></i>
      </button>
    </form>
  </nav>
</div>
<!-- end NavBar -->

<div class="card text-center">
  <div class="card-body">
    <h3 class="card-title">Usuários cadastrados na Newsletter</h3>
  </div>
</div>

<table class="table table-dark text-center">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Tipo de Usuário</th>
      <th scope="col">Excluir</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <td>{{fullName}}</td>
      <td>{{email}}</td>
      <td>Tipo de usuário</td>
      <td>
        <button type="button" class="btn btn-outline-danger">
          <i class="fas fa-minus-circle"></i>
        </button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

{{#section 'scripts'}}
  <script src="/javascripts/navbar.js"></script>
{{/section}}
