{{#section 'stylesheets'}}
{{/section}}

<div class="p-3">
<div class="p-3 text-center">
  <h3>Newsletter</h3>
</div>

<div style="overflow-x:auto;">
<table class="table table-light table-striped  text-center">
  <thead>
    <tr>
      <th scope="col" class="font-black">Nome</th>
      <th scope="col" class="font-black">Email</th>
      <th scope="col" class="font-black">Opções</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <td class="font-book">{{fullName}}</td>
      <td class="font-book">{{email}}</td>
      <th scope="row">
        <form action="/newsletter/{{id}}?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-outline-danger"><i class="fas fa-minus-circle"></i></button>
        </form>
      </th>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
</div>

{{#section 'scripts'}}
{{/section}}
