{{#section 'stylesheets'}}
{{/section}}

<div class="p-3 text-center">
  <h3>Newsletter</h3>
</div>

<table class="table table-light text-center">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Opções</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <td>{{fullName}}</td>
      <td>{{email}}</td>
      <th scope="row">
        <form action="/newsletter/{{id}}?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-outline-danger"><i class="fas fa-minus-circle"></i></button>
        </form>
      </th>
    </tr>
    {{/each}}
  </tbody>
</table>

{{#section 'scripts'}}
{{/section}}
