{{#section 'stylesheets'}}
{{/section}}


<div class="card text-center">
  <div class="card-body">
    <h3 class="card-title">Ofertas cadastradas</h3>
  </div>
</div>

<table class="table table-dark text-center">
  <thead>
    <tr>
      <th scope="col">Produto</th>
      <th scope="col">Ofertante</th>
      <th scope="col">Data</th>
      <th scope="col">Preço</th>
      <th scope="col">Excluir</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <td>{{sales}}</td>
      <td>{{dealer}}</td>
      <td>{{date}}</td>
      <td>{{price}}</td>
      <td>
        <button type="button" class="btn btn-outline-danger">
          <i class="fas fa-minus-circle"></i>
        </button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

{{#section 'scripts'}}
  <script src="/javascripts/navbar.js"></script>
{{/section}}
