{{#section 'stylesheets'}}
{{/section}}

  <div class="text-center">
    <div class="pb-3 gradient-background text-white">
      <h3 class="text-center font-black">Mudar senha</h3>
    </div>
  </div>
  <div class="p-3 col-sm-12 col-md-6 col-lg-6 justify-content-center">
    <form action="/user/change-password" method="post">
        <div class="text-center row">
          <div class="text-center">
              <div class="form-group">
                <p class="row col text-bold">Senha atual:</p>
                <input type="password" class="form-control font-light" minlength="8" name="user[password]" required></input>
              </div>
              <div class="form-group">
                <p class="row col text-bold">Nova senha:</p>
                <input name="user[newPassword]" type="password" class="form-control font-light" minlength="8" id="password" required></input>
              </div>
              <div class="form-group">
                <p class="row col text-bold">Confirme a nova senha:</p>
                <input type="password" class="form-control font-light" minlength="8" id="confirmPassword" required></input>
              </div>
            </div>
          </div>
          <button type="submit" class="pure-button pure-button-primary col-6 btn btn-default bg-green text-dark mr-1 font-light">Enviar</button>
      </form>
    </div>

{{#section 'scripts'}}
<script src="/javascripts/signup.js"></script>
{{/section}}
