{{#section 'stylesheets'}}
{{/section}}

<body>
  <div class="text-center">
    <div class="pb-3 gradient-background text-white">
      <h3 class="text-center font-black">Mudar senha</h3>
    </div>
  </div>
  <div class="p-3">
    <div class="pt-3 mt-5 p-3 ml-lg-4 text-center row">
      <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
        <form action="/user/update" method="post">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Nova senha:</p>
            <input name="user[password]" type="text" class="form-control font-light" minlength="8" id="password" required></input>
          </div>
          <div class="form-group">
            <p class="row col text-bold" align="justify">Confirme a nova senha:</p>
            <input type="text" class="form-control font-light" minlength="8" id="confirmPassword" required></input>
          </div>
        </div>
        <button type="submit" class="pure-button pure-button-primary col-6 btn btn-default bg-green text-dark mr-1 font-light">Enviar</button>
      </form>
    </div>

{{#section 'scripts'}}
<script src="/javascripts/signup.js"></script>
{{/section}}
