{{#section 'stylesheets'}}
{{/section}}

<div class="p-3">
<div class="row justify-content-center mt-2 mx-0">
  <div class="col-3">
  </div>

  <div class="col-6">
    <div class="text-center p-3">
      <h3>Princípios ativos</h3>
    </div>
  </div>

  <div class="col-3">
    <div class="text-right p-3">
      <button onclick="location.href = '/chems/new'" class="btn btn-outline-info font-book">Adicionar novo princípio ativo</button>
    </div>
  </div>
</div>

<!-- Chems list -->
<div style="overflow-x:auto;">
<table class="table table-light table-striped text-center">
  <thead>
    <tr>
      <th scope="col font-black">Nome</th>
      <th scope="col font-black">Editar</th>
      <th scope="col font-black">Excluir</th>
    </tr>
  </thead>
  <tbody>
    {{#each chems}}
    <tr>
      <th scope="row" class="font-book">{{name}}</th>
      <th scope="row">
        <button onclick="location.href='/chems/{{id}}/edit'" class="btn btn-outline-info font-book">Editar</button>
      </th>
      <th scope="row">
        <form action="/chems/{{id}}?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-outline-danger font-book">Excluir</button>
        </form>
      </th>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
</div>
<!-- end chems list -->

{{#section 'scripts'}}
{{/section}}
