<h1>Novo Princípio Ativo</h1>

<form action="/chems" method="POST">
  <p>Nome do princípio ativo</p>
  <input name="chem[name]" type="text"></input>
  <div>
    <button class="btn" type="submit">Enviar</button>
  </div>
</form>
