<!DOCTYPE html>

<html>
<head>
  <title>{{ title }}</title>   <!-- título da aba da página*/ -->
  <link rel='stylesheet' href='/stylesheets/style.css'>
  <link rel='stylesheet' href='/stylesheets/estilos.css'>
  <link rel="manifest" href="/manifest.json">
  {{{_sections.stylesheets}}}

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis:600|Montserrat:700|Varela+Round">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

  <div class="agro-alert col-12 col-lg-4 col-md-6">
    {{> messages}}
  </div>

  {{{ body }}}

  <script src="/javascripts/jquery.js" charset="utf-8"></script>
  <script src="/typeahead/typeahead.bundle.min.js"></script>
  <script src="/bootstrap/js/bootstrap.bundle.min.js" charset="utf-8"></script>
  <script src="/javascripts/navbar.js" charset="utf-8"></script>
  {{{_sections.scripts}}}
</body>

<footer class="bg-dark mt-5">
  <div class="container">
    <div class="row">

        <div class="col-12 col-md-4 mt-4">
          <img class="float-left grayscale footer-brand border-right pr-3 mr-3" src="/images/logo menor.png" alt="MegaPool">
          <div class="">
            <ul class="list-unstyled">
              <li><a class="text-dark2" href="/site/about">Sobre</a></li>
              <li><a class="text-dark2" href="/site/franchisee">Franqueado</a></li>
              <li><a class="text-dark2" href="/site/contact">Contato</a></li>
              <li></li>
              <li></li>

            </ul>
          </div>
        </div>

        <div class="col-12 col-md-4 mt-4">
          <div class="row justify-content-center">
            <a class="social facebook" href="https://www.facebook.com/megapoolagro"><i class="mt-2 fa fa-facebook fa-2x"></i></a>
            <a class="social twitter" href="https://twitter.com/megapoolagro"><i class="mt-2 fa fa-twitter fa-2x"></i></a>
            <a class="social linkedin" href="https://www.linkedin.com/company/megapoolagro"><i class="mt-2 fa fa-linkedin fa-2x"></i></a>
            <a class="social youtube" href="https://www.youtube.com/channel/UCJ42yAsesMyVJJsZUJt20pw"><i class="mt-2 fa fa-youtube fa-2x"></i></a>
          </div>
        </div>

        <div class="col-12 col-md-4 mt-4">
          <div class="text-left text-md-right text-dark2 mt-3">
            <ul class="list-unstyled">
              <li>Rua Gloria Senna, Sítio Cercado, nº 67. Curitiba-PR</li>
              <li>CEP: 81900-670</li>
              <li>Email: contato@megapool.com.br</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

</html>
