{{#section 'stylesheets'}}
{{/section}}
<div class="pb-3 gradient-background">
  <h4 class="text-center">Seja um franqueado</h4>
</div>
<div class="container">
  <p class="text-center">Está funcionalidade ainda está em contrução, se quiser manter-se informado, basta se cadastrar na nossa newsletter!</p>
</div>

<div class="container">
  <h5 class="text-center">Inscreva-se na nossa Newsletter</h5>

  <form action="/newsletter/" method="POST">
    <div class="row d-flex justify-content-between">
      <div class="col">
        <div class="form-group mx-4 my-2">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fas fa-address-book"></i></div>
            </div>
            <input name="newsletter[fullName]" type="text" class="form-control font-light" placeholder="Nome Completo"></input>
          </div>
        </div>

        <div class="form-group mx-4 my-2">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fas fa-envelope"></i></div>
            </div>
            <input name="newsletter[email]" type="email" class="form-control font-light" placeholder="Email"></input>
          </div>
        </div>

        <div>
          <button class="btn btn-default bg-green text-light mx-auto mt-4 px-5 mb-3 d-block" type="submit">Enviar</button>
        </div>
      </div>
    </div>
  </form>
</div>
{{#section 'scripts'}}
{{/section}}
