<div class="mt-5 ml-5">
    <button onclick="location.href = '/test/clean/offer'" class="btn btn-danger" href="/test/clean/offer">Apagar ofertas</button>
    <button onclick="location.href = '/test/clean/group'" class="btn btn-danger" href="/test/clean/group">Apagar grupos</button>
    <button onclick="location.href = '/test/clean/product'" class="btn btn-danger" href="/test/clean/product">Apagar produtos</button>
    <button onclick="location.href = '/test/clean/chem'" class="btn btn-danger" href="/test/clean/chem">Apagar princípios ativos</button>
    <button onclick="location.href = '/test/clean/transaction'" class="btn btn-danger" href="/test/clean/transaction">Apagar transações</button>
    <button onclick="location.href = '/test/clean/newsletter'" class="btn btn-danger" href="/test/clean/newsletter">Apagar newsletter</button>
    <button onclick="location.href = '/test/clean/user'" class="btn btn-danger" href="/test/clean/user">Apagar usuários</button>
</div>
