{{#section 'stylesheets'}}
{{/section}}

<body>
<h4 class="mt-3 text-center">Contacte-nos</h4>
<div class="row d-flex justify-content-between">
  <div class="form-group col-md-3 mx-4 my-2">
    <form action="/contact" method="POST">
      <p>Diga-nos o seu nome</p>
      <input name="data[clientname]" class="form-control" type="text"></input>
      <p>Coloque seu e-mail aqui</p>
      <input name="data[clientemail]" class="form-control" type="email"></input>
      <p>Qual assunto deseja tratar?</p>
      <input name="data[subject]" class="form-control" type="text"></input>
      <p>Descreva o que você procura!</p>
      <input name="data[content]" class="form-control" type="text"></input>
      <p>Obrigado por nos contactar, entraremos em contato em breve!</p>
      <button class="btn btn-default bg-green text-light mx-auto mt-4 px-5 mb-3 d-block" type="submit">Enviar</button>
    </form>
  </div>
</div>

{{#section 'scripts'}}
{{/section}}
