{{#section 'stylesheets'}}
  <link rel='stylesheet' href='/stylesheets/signup.css'>
{{/section}}

<div class="container text-light">
  <div class="info col-12">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-md-6 col-lg-5 bg-dark rounded pt-2">
        <h3 class="text-center mb-5">Mega Oportunidade</h3>
        <p>Nesse programa a indústria ou revenda, poderá ofertar produtos com preços especiais, promocionais ou abaixo do preço normal de mercado.</p>
        <p>Produtos em estoque fora da época de uso, com data de validade próximo ao vencimento (não pode ser ofertado produtos vencidos) ou qualquer outro motivo que leve o fabricante ou
        revenda a promover a venda mesmo abrindo mão de parte de sua margem ou até mesmo na contra margem.</p>
        <p>Estes produtos serão ofertados aos clientes como oportunidades e deverão constar qual a avaria do produto.</p>
        <p>Para ofertar esses produtos o vendedor deverá marcar (oportunidade) no campo indicado no momento da oferta dos seus produtos.</p>
        <div class="text-center mb-3">
          <button class="btn bg-green text-dark" onclick="location.href = '/user'">Continuar</button>
        </div>
      </div>
    </div>
  </div>
</div>

{{#section 'scripts'}}
{{/section}}
