{{#section 'stylesheets'}}
<link rel='stylesheet' href='/stylesheets/signup.css'>
{{/section}}

<div class="pt-5 mt-5 col-md-8 mx-auto text-light">
  <div class="info col-12 col-sm-12 col-md-9 col-lg-6 mx-auto">
    <div class="row justify-content-center">
      <div class="col-12 bg-dark rounded">

        <h3 class="text-center mb-5">OLÁ, REVENDEDOR :</h3>
        <h4 class="mb-2">Entenda como atua a revenda na plataforma MEGA POOL:</h4>
        <p align='justify'>A plataforma MEGA POOL é um grupo de compra on line, porém com revendas o objetivo do cliente não será necessariamente o preço, mas sim a comodidade de encontrar rapidamente o que ele precisa e a rapidez nas entregas.</p>
        <p align='justify'>A revenda poderá lançar na plataforma todos os produtos que tem disponível, destacando o que pode ser entregue em um prazo de até 48 horas e/ou entrega em até 30 dias ao consumidor final.</p>
        <p align='justify'>Os produtos deverão ter as informações básicas em sua descrição e o preço</p>
        <p align='justify'>Quando o cliente faz uma busca rápida através de seu computador ou celular, o produto buscado aparecerá e um filtro levará em consideração, primeiramente:</p>

        <li align='justify'>Preço oferecido, o menor preço aparecerá primeiro.</li>
        <li align='justify'>Reputação da revenda na plataforma.</li>
        <li align='justify'>Quantidade do produto oferecido.</li>


        <p align='justify'>O cliente aceitando o preço, pode concluir a compra, seleciona o volume e o pedido é preenchido automaticamente, é pedido então ao cliente uma confirmação do aceite do pedido com sua senha.</p>
        <p align='justify'>O pedido será enviado para a revenda, onde será feito o lançamento e emissão do boleto, o pagamento será feito diretamente a revenda que precederá a entrega.</p>
        <p align='justify'>Todas as vendas na plataforma são com pagamento à vista/adiantado.</p>
        <p align='justify'>As revendas podem  ainda ofertar produtos de oportunidade, tais como: produtos próximos da data de validade, estoque ocioso, entre outros, desde conste exatamente na descrição do produto.</p>

        <h4 class="mb-2 mt-2">Compras pela plataforma:</h4>
        <p align='justify'>A revenda também pode comprar pela plataforma, inserindo sua demanda para safra, safrinha ou repiques.</p>
        <p align='justify'>Essa demanda será somada aos volumes de outras revendas e negociado com a indústria.</p>
        <p align='justify'>Todas as operações de compra e venda podem ser monitoradas pela plataforma  ou através de relatórios que serão enviados periodicamente.</p>
        <p align='justify'>As revendas cadastradas, também terão acesso á alguns relatórios gerados pela plataforma, tais como: como produtos mais buscados e utilizados na sua região, preços médios de determinados produtos entre outras informações que podem levar a tomadas de decisões estratégicas.</p>
        <p align='justify'>Faça seu pré cadastro e nos envie, em breve entraremos em contato para finalização e liberação de sua senha.</p>
        <p align='justify'>Maiores informações estarão disponíveis no momento do cadastro ou podem ser obtidas, pelo e-mail abaixo, falando diretamente com nossa central de atendimento ao revendedor:</p>
        <p align='justify'>revendedor@megapool.com.br</p>

        <div class="text-center mb-3">
          <button class="btn bg-green text-dark" onclick="history.back()">Continuar</button>
        </div>
      </div>
    </div>
  </div>
</div>

{{#section 'scripts'}}
<script src="/javascripts/signup.js"></script>
{{/section}}
