<div class="container mb-5">
    <h3 class="mt-2 p-3 text-center mx-auto">
      Perguntas frequentes
    </h3>

    <p class="mt-5 p-3">
    Sobre segurança dos usuários:
    </p>

    <h5 class="p-3 text-center mx-auto">
    O que é a MEGAPOOL?
    </h5>

    <p>É uma empresa privada, com conceito pioneiro e moderno e se trata de um grupo de compra on line, que levanta os volumes de insumos agropecuários  demandados por vários produtores rurais de uma determinada região, cidade, estado e até país e negocia diretamente com fabricantes ou importadores buscando os melhores preços, definido os preços e aceito pelos compradores, os pagamento são feitos individualmente por cada produtor diretamente à indústria e recebe o produto comprado em sua propriedade. </p>

    <p>A MEGAPOOL também atua como busca regional de insumos, quando o produtor cadastrado precisa de um produto ele busca na plataforma e a plataforma faz uma busca do produto nas lojas locais (entrega em até 48 horas) ou em indústrias (entrega até 31 dias) dependendo do tempo que o produto será utilizado.</p>
    <p>A plataforma faz uma busca pelo menor preço do produto, o produtor pode comprar através da plataforma e receber na propriedade ou retirar na própria loja. </p>

    <p>Toda negociação acontece de acordo com o código de defesa do consumidor, as vendas são acompanhadas de receituário agronômico, ficha de emergência, nota fiscal e assistência técnica da mesma forma que acontece nas compras em lojas físicas. </p>
    <p>A plataforma atende todas as leis vigentes no país e tem como premissa principal a sustentabilidade do setor agropecuário e meio ambiente. </p>
    <p>A plataforma MEGAPOOL, foi desenvolvida para o produtor rural, por esse motivo, para participar da plataforma os produtores não tem custo  nenhum. </p>

    <p>1- Quais são meus direitos quando compro pela MEGAPOOL?</p>
    <p>O comprador tem todos os direitos assegurados,  previstos no código de defesa do consumidor, inclusive solicitar em até 7 dias a devolução do valor pago integralmente após o recebimento do produto se o mesmo não estiver de acordo com a compra.</p>

    <p>2- A MEGAPOOL recebe o valor pago e repassa ao vendedor? </p>

    <p>Não, a MEGAPOOL não recebe nenhum valor, o pagamento é feito diretamente a empresa vendedora, com a emissão de: pedido de compra, nota fiscal e recibo de pagamento, como se fosse a uma loja física, pois se ocorrer algum desacordo na entrega do produto o comprador estará munido de toda documentação que comprova a operação.   </p>

    <p>3- Como saberei se a empresa que estou comprando é idônea? </p>

    <p>Todas as empresas que se cadastram na MEGAPOOL passam por um criterioso cadastro, que é  validado pela equipe da MEGAPOOL, todos os dados são checados nos órgãos reguladores do comércio de defensivos e entidades reguladoras, além de receberem  visitas frequentes dos colaboradores da MEGAPOOL. Se a empresa tiver algum indício de irregularidade ou idoneidade duvidosa a sua participação é negada. </p>

    <p>4- Sobre a qualidade e procedência dos produtos entregues. </p>

    <p> A MEGAPOOL tem parceria com os principais órgãos e entidades fiscalizadoras de defensivos de país, qualquer caso suspeito é encaminhado diretamente a Policia federal.
 Somente empresas devidamente registradas nas juntas comerciais e com CNPJ ativo no município podem vender produtos de entregas imediatas no caso de revendas e/ou industriais fabricantes nacionais ou importadores devidamente legalizados.
 Pessoas físicas, outros produtores, profissionais autônomos ou empresas fora do setor de defensivos, não podem fornecer produtos para venda na plataforma.
 Todos os lotes de produtos vendidos ficam registrados na plataforma e podem ser rastreados a qualquer momento.
 </p>

    <p>5- Posso atuar na plataforma com  mais de um usuário? </p>

    <p> Se corresponder aos requisitos e houver o interesse, um único CPF/CNPJ pode atuar simultaneamente com mais de um usuário desde que seja usuários de tipos diferentes, porém não pode vincular um com o outro, serão operações separadas.  </p>

    <p>6- O que é um franqueado? </p>

    <p> Um profissional do ramo agrícola, autônomo, que pode atuar, recomendando, operando as cotações, negociando e até dando assistência técnica a produtores se for combinado.
  Este profissional tem a função de repassar todas as informações ao seu cliente produtor rural e será seu comprador na plataforma, sem custo para o cliente.
 </p>

    <p>6-Quem tem direito a franqueado? Posso escolher mais de um franqueado? </p>

    <p>Qualquer produtor rural que quiser participar da plataforma e não tem tempo ou não tem interesse em ficar acompanhando as transações que acontecem constantemente, nesse caso o franqueado irá fazer esse trabalho para ele e será remunerado pela plataforma, sem custo para o cliente.
  O usuário pode escolher ou pedir uma indicação de franqueado para a MEGAPOOL, pode também trocar de franqueado sempre que quiser, porém poderá ter apenas um de cada vez.
 </p>

    <p>7- Por que economizar comprando pela MEGAPOOL? </p>

    <p> A MEGAPOOL  se trata de um grupo de compra on line, onde os volumes de determinados insumos são cotados  em grandes volumes e negociados diretamente com os fabricantes, baixando os custos para o produtor. </p>

    <p>8- Além de economia, onde mais a MEGAPOOL pode me ajudar? </p>

    <p>Na agilidade, através da busca rápida, ao buscar um produto a MEGAPOOL mostrará o melhor preço e o prazo de entrega mais rápido, comprando pela plataforma através de computador ou mesmo pelo celular e recebendo em sua propriedade.
 </p>

    <p>9- Qual benefício a MEGAPOOL oferece às indústrias ou fornecedores? </p>

    <p>As indústrias cadastradas como fornecedores, recebem informações importantes da plataforma como: demanda de produtos que serão utilizadas na safra ou safrinha e seus volumes com até um ano de antecedência podendo dessa forma, se organizar para compra de matérias primas e fabricação dos produtos. </p>

    <p>10- Qual benefício a MEGAPOOL oferece as revendas locais? </p>

    <p>Principalmente o direito de ofertar seus produtos para todos os produtores cadastrados e dessa forma a chance de negociar com clientes novos e fidelizá-los.
  Outro benefício é que as revendas também podem cotar produtos para compra das indústrias, além de ter também acesso a várias informações importantes de demanda que podem orientá-los nas compras de produtos com antecedência.
 </p>

    <p>11- Sobre a tecnologia envolvida? </p>

    <p>A MEGAPOOL possui tecnologia inovadora, funciona em sistema de PLATAFORMA WEB, onde poder ser operada por qualquer computador ou dispositivo móvel, podendo ser acessada de qualquer lugar onde possuir internet, mesmo utilizando celular a plataforma não utiliza espaço em seu dispositivo como um aplicativo comum, todas informações ficam armazenadas em nuvem promovendo rapidez e segurança nas informações.  </p>








  </div>
