{{#section 'stylesheets'}}
  <link rel='stylesheet' href='/stylesheets/signup.css'>
{{/section}}

<div class="col-md-8 mx-auto text-light">
  <div class="info col-12 col-sm-12 col-md-9 col-lg-6 mx-auto">
    <div class="row justify-content-center">
      <div class="col-12 bg-dark rounded">

        <h3 class="text-center mb-5">ENTENDA COMO FUNCIONA O FRANQUEADO MEGA POOL</h3>
        <h4 class="mb-2">O que é?</h4>
        <p align='justify'>O franqueado pode ser pessoal física ou Jurídica que atue no ramo agrícola, e que cumpra os seguintes requisitos:</p>
        <li align='justify'>Possuir uma carteira de clientes ativos que possam migrar suas compras para a plataforma.</li>
        <li align='justify'>O franqueado deve ter a aceitação do cliente para representa-lo na plataforma.</li>
        <li align='justify'>Engenheiros Agrônomos, Técnicos Agrícolas, Representantes comercias, vendedores autônomos, pequenas revendas, etc.</li>

        <h4 class="mb-2 mt-2">Qual a função do franqueado?</h4>
        <p align='justify'>O franqueado tem um ESCRITÓRIO VIRTUAL  dentro da plataforma, para realizar o seu trabalho.</p>
        <ul>
          <li align='justify'>Ele levanta a demanda de insumos dos clientes que atende.
          <li align='justify'>Insere essa demanda na plataforma, separada por produto e cliente.
          <li align='justify'>Faz a gestão desses volumes dentro do grupo de compra geral, através do seu ESCRITÓRIO VIRTUAL, monitora as oscilações de preços, a oferta de determinados produtos, a mudança para produtos similares ou até mesmo fazer indicações baseadas em informações técnicas e tudo o que diz respeito as cotações de seus clientes.
        </ul>
        <p align='justify'>O franqueado deve fazer a ponte entre a plataforma e  seus clientes, todas as  informações de todos os seus clientes que serão centralizadas no seu ESCRITÓRIO VIRTUAL via relatórios que são passadas pela plataforma periodicamente.
          O objetivo é de orientar o cliente o momento certo para realizar o fechamento, acompanhar o pagamento dos pedidos e certificar da devida entrega dos produtos.</p>

        <h4 class="mb-2">Como o franqueado é remunerado?</h4>
        <p align='justify'>O franqueado é remunerado exclusivamente pela Plataforma MEGA POOL e seus clientes não tem custo nenhum por esse serviço.</p>
        <h6>EXISTEM DUAS  FORMAS DE REMUNERAÇÃO:</h6>
        <p align='justify'> 1) O franqueado recebe sua remuneração em porcentagem do valor movimentado em seus clientes, a porcentagem varia de acordo com a categoria do produto.</p>

        <p align='justify'>As taxas serão informadas após o cadastro.</p>

        <p align='justify'>As comissões serão pagas ao franqueado após o pagamento do produto e a entrega realizada ao produtor.</p>
        <p align='justify'>A PLATAFORMA MEGA POOL pode pedir nota fiscal de prestação de serviço ao franqueado, para pagamento das comissões.</p>

        <p align='justify'>2) Outra forma de remuneração que o franqueado pode ter direito é através do programa de fidelidade: MEGA PRÉMIO.</p>
        <p align='justify'>Para ter direito de participar do programa, o franqueado deve ter conceito POSITIVO na plataforma, o que pode ser obtido pela forma de gestão do seu ESCRITÓRIO VIRTUAL, avaliado por 3 critérios:</p>
        <ul>
          <li align='justify'>Rapidez nas trocas de informações e satisfação dos seus clientes.</li>
          <li align='justify'>Não ter cancelamentos de cotações inseridas.</li>
          <li align='justify'>Índice de recompra.</li>
        </ul>
        <p align='justify'>O MEGA PRÊMIO, refere-se a premiações em dinheiro que a plataforma poderá pagar por (lt/kg) de determinados produtos estratégicos que serão comercializados pela plataforma, os produtos estratégicos bem com suas respectivas premiações serão informados  periodicamente ao franqueado.</p>
        <p align='justify'>Franqueado com conceito POSITIVO pode ainda ser indicado pela PLATAFORMA a clientes que peçam indicação de franqueados para administrar sua carteira.</p>

        <h4 class="mb-2">Outros benefícios dos Franqueados.</h4>
        <ul>
          <li align='justify'>O franqueado receberá periodicamente informações sobre oscilações no mercado em geral de preços de matérias primas dos insumos e tudo o que pode orienta-lo a tomar decisões para seus clientes.</li>
          <li align='justify'>Informações técnicas sobre produtos passados diretamente pela indústria,  bem como treinamentos sobre lançamentos de produtos.</li>
          <li align='justify'>Os franqueados e os clientes dos franqueados receberão brindes personalizados do programa MEGA PREMIO com o objetivo de promover e fidelizar o uso dos produtos participantes do MEGA PRÉMIO.</li>
        </ul>

        <h4 class="mb-2">Como obter a franquia</h4>
        <ul>
          <li align='justify'>As franquias são limitadas para cada região de acordo com o potencial de vendas.</li>
          <li align='justify'>A MEGA POOL não vende as franquias, elas são alugadas pelo prazo de um ano sendo  renováveis após esse prazo.</li>
          <li align='justify'>O franqueado deverá preencher um pré cadastro, que será avaliado pela equipe da MEGA POOL, sendo aprovado o interessado receberá o contrato de franqueado.</li>
          <li align='justify'>O valor do aluguel anual é de R$ 1.200,00 (um mil e duzentos reais) a serem pagos via boleto bancário, em parcela única, após esse processo o franqueado terá sua senha liberada para operação no ESCRITÓRIO VIRTUAL.</li>
        </ul>
        <div class="text-center mb-3">
          <button class="btn bg-green text-dark" onclick="history.back()">Continuar</button>
        </div>
      </div>
    </div>
  </div>
</div>

{{#section 'scripts'}}
  <script src="/javascripts/signup.js"></script>
{{/section}}
