<div class="container-fluid">
	<div class="row text-center justify-content-center">
		<div class="col-11 logo">
			<h1 class="slogan">Compre e venda mais barato</h1>
			<img src="img/logo_mega_pool.png" class="img-fluid" alt="Logo da Mega Pool">
		</div>
	</div>
	<div class="row text-center justify-content-center">
		<a class="btn btn-signin" href="#" role="button">Cadastrar-se</a>
	</div>
	<div class="row text-center justify-content-center">
		<a class="btn btn-login" href="#" role="button">Entrar</a>
	</div>
</div>