<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/login" method="post">
  <input name="mail" type="email"></input>
  <input name="pass" type="password"></input>
  <button class="btn" type="submit">Enviar</button>
</form>
