{{#section 'stylesheets'}}
<link rel='stylesheet' href='/stylesheets/signup.css'>
{{/section}}

<div class="col-md-8 mx-auto text-light">
  <div class="info col-12 col-sm-12 col-md-9 col-lg-6 mx-auto">
    <div class="row justify-content-center">
      <div class="col-12 bg-dark rounded">

        <h4 class="text-center mb-2">Olá, entenda como a MEGA POOL atende a indústria fabricante ou importadora/distribuidora</h4>
        <p align='justify'>O mercado de insumos agrícolas em algumas regiões do Brasil chega a 60% de atendimento via venda direta, acreditamos que esse mercado tende a crescer ainda mais, por força do interesse do produtor rural nesse modo de negociação.</p>
        <p align='justify'>Um problema crônico nesse tipo de negociação é a oneração dos custos da indústria através de estrutura comercial, principalmente com o número de profissionais que deveriam estar a campo. </p>
        <p align='justify'>A plataforma MEGAPOOL, tem por objetivo tornar visível a todos os seus usuários todo o portfólio de seus produtos, podendo ser para clientes diretos ou revendas.</p>
        <p align='justify'>A MEGA POOL recebe as demandas de insumos de várias regiões produtoras do país, monta o volume e negocia com sua empresa.</p>
        <p align='justify'>O pagamento dos produtos são feitos diretamente para sua empresa e todos os pagamentos são à vista/adiantado.</p>
        <p align='justify'>A sua empresa tem a oportunidade de atender esses clientes finais e tentar fidelizá los.</p>
        <p align='justify'>A MEGAPOOL trabalha também com franqueados, que são profissionais autônomos que dão assessoria técnica e comercial para determinados grupos de produtores, estes por sua vez podem influenciar diretamente o produtor na compra de determinados produtos.</p>
        <p align='justify'>A indústria participante da MEGAPOOL pode ter acesso a esses profissionais através da plataforma, divulgando seus produtos, além de resultados e demais informações importantes, promovendo assim a venda desses produtos.</p>
        <p align='justify'>A sua empresa tem a oportunidade de atender esses clientes finais e tentar fidelizá los.</p>
        <p align='justify'>A MEGAPOOL também oferece um programa de fidelidade aos clientes, chamado de MEGA PRÉMIO, que busca fidelizar o cliente a comprar o seu produto cadastrado no MEGA PREMIO.</p>
        <p align='justify'>A indústria participante da MEGAPOOL também tem outros benefícios, tais como:   informações de pesquisa de mercado, referente a buscas de seus produtos ou seus similares em determinadas regiões, qual perfil de seus clientes e algumas tendências de mercado.</p>
        <p align='justify'>A MEGAPOOL  ainda oferece a precificações especiais para indústrias cadastradas pesquisas específicas de mercado entre seus usuários da plataforma, como: pesquisa de satisfação de produtos ou imagem da marca e marketing em geral.</p>

        <div class="text-center mb-3">
          <button class="btn bg-green text-dark" onclick="history.back()">Continuar</button>
        </div>
      </div>
    </div>
  </div>
</div>

{{#section 'scripts'}}
<script src="/javascripts/signup.js"></script>
{{/section}}
