{{#section 'stylesheets'}}
<link rel='stylesheet' href='/stylesheets/signup.css'>
{{/section}}

<div class="container text-light">
  <div class="info col-12">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-md-6 col-lg-5 bg-dark rounded pt-2">
        <h3 class="text-center mb-5">Mega Prêmio</h3>
        <h4 class="mb-2">O MEGA PRÊMIO é um programa de fidelidade que aplicamos aos clientes.</h4>
        <p>A Plataforma MEGA POOOL não faz recomendações técnicas de produtos, somos imparciais na demanda do cliente, somente cotamos o que o cliente pede.</p>
        <p>Porém existe um usuário da plataforma que pode exercer influencia na tomada de decisão de compra.</p>
        <p>Trata-se do franqueado:</p>
        <ul>
          <li>Franqueado:  profissional do ramo agrícola que gerencia uma carteira de clientes dentro da plataforma atuando como um comprador de insumos para um pequeno
            ou médio grupo de clientes onde ele pode exercer alguma influência na tomada de decisão de compra.</li>
            <li>Neste sentido a plataforma permite que seja pago uma premiação por parte da indústria por unidade de produto (lt/kg) comercializado pela plataforma, visando
              produtos que sejam estratégicos para a empresa vendedora, com objetivo de alavancar as vendas e gerar fidelidade ao produto.</li>
              <p>O valor ofertado pela indústria será investido da seguinte forma:</p>
              <ul>
                <li>50% será repassado para o franqueado que fez a recomendação.</li>
                <li>50% será investido em Marketing para os clientes usuários da plataforma, marketing digital via e-mail, celular, demonstrativos de colheita e circulares técnicas
                  sobre o produto que gerou o bônus.</li>
                </ul>
              </ul>
              <p>Marketing direcionado: Para clientes que utilizaram o produto e o franqueado que recomendou: será enviado brindes exclusivos com a logo do produto: bonés, chapéus,
                garrafas térmicas, etc.</p>
                <p>Outras vantagens de participar do MEGA PRÊMIO:</p>
                <ul>
                  <li>Os produtos que participam do MEGA PRÊMIO estará sendo informado aos franqueados periodicamente.</li>
                  <li>A indústria pode direcionar informações técnicas, resultados obtidos, eventos e treinamentos diretamente aos usuários.</li>
                  <li>A indústria receberá informações por meio de relatórios da plataforma de como está o mercado para aquele nicho do produto participante dentro da plataforma, qual
                    é a demanda, perfil do cliente, tamanho do mercado, preços médios, volumes negociados e demais informações que podem orientar a indústria direcionar suas campanhas de vendas.</li>
                  </ul>
                  <p>Para participar do programa MEGA PRÊMIO, envie o portfólio dos produtos que quer incluir e suas respectivas premiações para o e-mail abaixo, que nossa equipe irá analisar e lhe
                    responderemos em breve.</p>
                    <div class="text-center mb-4 mt-3">megapremio@megapool.com.br</div>
                    <h3 class="text-center mb-5">Mega Oportunidade</h3>
                    <p>Nesse programa a indústria ou revenda, poderá ofertar produtos com preços especiais, promocionais ou abaixo do preço normal de mercado.</p>
                    <p>Produtos em estoque fora da época de uso, com data de validade próximo ao vencimento (não pode ser ofertado produtos vencidos) ou qualquer outro motivo que leve o fabricante ou
                      revenda a promover a venda mesmo abrindo mão de parte de sua margem ou até mesmo na contra margem.</p>
                      <p>Estes produtos serão ofertados aos clientes como oportunidades e deverão constar qual a avaria do produto.</p>
                      <p>Para ofertar esses produtos o vendedor deverá marcar (oportunidade) no campo indicado no momento da oferta dos seus produtos.</p>
                      <div class="text-center mb-3">
                        <button class="btn bg-green text-dark" onclick="location.href = '/user'">Continuar</button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              {{#section 'scripts'}}
              <script src="/javascripts/signup.js"></script>
              {{/section}}
