<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>   <!-- título da aba da página*/ -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Essa parte eu coloquei pra tentar fazer um arquivo de layout geral pra todas as páginas -->
    <link rel="stylesheet" href="/stylesheets/estilos.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis:600|Montserrat:700|Varela+Round">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    {{{body}}}
    <script src="/javascripts/jquery.js" charset="utf-8"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js" charset="utf-8"></script>
  </body>
</html>
