{{#section 'stylesheets'}}
<link rel='stylesheet' href='/stylesheets/maintenance.css'>
{{/section}}

<main role="main" class="container">
  <div id="row myCarousel" class="carousel vert slide" data-interval="3000" data-ride="carousel">
    <div class="carousel-inner text-center">
      <div class="col-12 col-sm-12 col-md-12 carousel-item active">
        <p>Algo grande está por vir...</p>
      </div>
      <div class="col-12 col-sm-12 col-md-12  carousel-item">
        <p>a maior plataforma</p>
      </div>
      <div class="col-12 col-sm-12 col-md-12  carousel-item">
        <p>de Agronegócios do país!</p>
      </div>
      <div class="col-12 col-sm-12 col-md-12  carousel-item">
        <p>Aguarde!</p>
      </div>
    </div>
  </div>
  <!--Logo-->
  <div class="container" >
    <div class="row justify-content-center">
      <div class="col-12 col-sm-12 col-md-12 text-center">
        <img src="images/logo menor.png" alt="Logo do MegaPool">
      </div>
    </div>
  </div>
</main>

<footer class="fixed-bottom" style="">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-12 col-md-8">
        <p class="text-center with-bg" >
          Cadastre-se e receba atualizações!
        </p>
      </div>
    </div>
    <form action="/newsletter" method="post">
      <div class="row justify-content-center form-row" id="form-nl">
        <div class="col-6 col-md-3">
          <!-- <select name="newsletter[type]" class="form-control"  class="form-control">
            <option selected disabled hidden>Selecione</option>
            <option value="Indústria">Indústria</option>
            <option value="Produtor">Produtor</option>
            <option value="Franqueado">Franqueado</option>
            <option value="Revendedor">Revendedor</option>
          </select> -->
          <input type="text" placeholder="Nome completo" name="newsletter[fullName]" class="form-control">
        </div>
        <div class="col-6 col-md-3">
          <input type="email" placeholder="email@exemplo.com" class="form-control" name="newsletter[email]" id="mail">
        </div>
        <div class="col-12 col-md-2">
          <button type="submit" class="btn btn-primary btn-block">Cadastre-se</button>
        </div>
      </div>
    </form>
  </div>
</footer>

{{#section 'scripts'}}
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script>
window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>
<script>
$(function() {
  Holder.addTheme("thumb", {
    background: "#55595c",
    foreground: "#eceeef",
    text: "Thumbnail"
  });
  $('#myCarousel').carousel({
    // Options
  });
});
</script>
{{/section}}
