<main role="main" class="container">
  <div id="row myCarousel" class="carousel vert slide" data-interval="3000" data-ride="carousel">
    <div class="carousel-inner text-center">
      <div class="col-12 col-sm-12 col-md-12 carousel-item active">
        <p>Algo grande está por vir...</p>
      </div>
      <div class="col-12 col-sm-12 col-md-12  carousel-item">
        <p>a maior plataforma</p>
      </div>
      <div class="col-12 col-sm-12 col-md-12  carousel-item">
        <p>de Agronegócios do país!</p>
      </div>
      <div class="col-12 col-sm-12 col-md-12  carousel-item">
        <p>Aguarde!</p>
      </div>
    </div>
  </div>
  <!--Logo-->
  <div class="container" >

    <div class="row justify-content-center">
      <div class="col-12 col-sm-12 col-md-12 text-center">
        <img src="images/logo menor.png" alt="Logo do MegaPool">
      </div>
    </div>
  </div>

</main>

<footer class="fixed-bottom" style="">
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-8">
          <p class="text-center with-bg" >
            Cadastre-se e receba atualizações!
          </p>
        </div>
    </div>
    <form>
      <div class="row justify-content-center form-row" id="form-nl">
        <div class="col-6 col-md-2">
          <select value="Selecione" class="form-control" name="user_type" class="form-control">
            <option value="" selected disabled hidden>Selecione</option>
            <option>Indústria</option>
            <option>Produtor</option>
            <option>Franqueado</option>
            <option>Revendedor</option>
          </select>
        </div>
        <div class="col-6 col-md-4">
          <input type="email" placeholder="email@exemplo.com" class="form-control" id="mail">
        </div>
        <div class="col-12 col-md-2">
          <button type="submit" class="btn btn-primary btn-block">Cadastre-se</button>
        </div>
      </div>
    </form>
  </div>
</footer>
