{{#section 'stylesheets'}}
  <link rel='stylesheet' href='/stylesheets/signup.css'>
{{/section}}

<div class="pt-5 mt-5 col-md-8 mx-auto text-light">
  <div class="info col-12 col-sm-12 col-md-9 col-lg-6 mx-auto">
    <div class="row justify-content-center">
      <div class="col-12 bg-dark rounded">

        <h3 class="text-center mb-5">A MEGAPOOL FOI DESENVOLVIDA PARA O PRODUTOR RURAL, ENTENDA COMO FUNCIONA A PLATAFORMA:</h3>
        <p align='justify'>A MEGAPOOOL é um grupo de compra on line, onde você pode incluir os produtos que precisa comprar, para safra, safrinha ou para necessidades com até 30 dias para entregas.</p>
        <p align='justify'>Os produtos serão somados a outras necessidades de outros produtores da região e será negociado um preço com a indústria.</p>
        <p align='justify'>A MEGA POOL tem uma equipe que irá intermediar esse volume com empresas nacionais, internacionais e importadores.</p>
        <p align='justify'>A evolução das negociações, preços, produtos similares e toda e qualquer informação referente às negociações estarão sempre disponíveis em seu escritório virtual dentro da plataforma e também será enviado por relatórios periódicos.</p>
        <p align='justify'>A plataforma pode indicar um franqueado para o produtor rural que administra esses números e pode auxiliá-lo na tomada de decisão.</p>
        <p align='justify'>Todo o trabalho prestado pela MEGAPOOL, inclusive do franqueado, não tem custo para o produtor rural, quem custeia toda a operação são as empresas vendedoras.</p>
        <p align='justify'>A finalização da compra e o pagamento é feito diretamente para a indústria fabricante do produto na data combinada e o produtor pode desfazer o negócio se não ficar satisfeito com os produtos recebidos e pedir devolução integral do valor pago até 7 dias após o recebimento (lei CDC 8079/90)</p>
        <p align='justify'>A MEGAPOOL também possui uma ferramenta de busca rápida de preços em revendas locais no caso de necessidades de produtos de forma imediata, para entrega no máximo em 48 horas, garantindo o melhor preço.</p>
        <p align='justify'>Comprando pela MEGA POOL o produtor tem os mesmos direitos de uma compra em local fixo, receituário agronômico, local para devolução de embalagens e assistência técnica de um profissional.</p>
        <p align='justify'>A MEGAPOOL, tem o objetivo principal:</p>

        <li align='justify'>Baixar custos com insumos em até 20%</li>
        <li align='justify'>Tornar acessível a todos os produtores as melhores tecnologias do mercado.</li>
        <li align='justify'>Facilitar a cotação e compra de produtos de forma rápida e fácil, pelo celular ou computador.</li>

        <div class="text-center mb-3">
          <button class="btn bg-green text-dark" onclick="history.back()">Continuar</button>
        </div>
      </div>
    </div>
  </div>
</div>

{{#section 'scripts'}}
  <script src="/javascripts/signup.js"></script>
{{/section}}
