<body>
  <form action="/PDF/createPDF" method="post">
    <div>
      <h1>Teste para gerar PDF</h1>
        <p>Coloque seu primeiro nome:</p>
        <input type="text" name="firstName" >
        <p>Coloque o seu último nome</p>
        <input type="text" name="lastName">
        <p>Preço do Produto</p>
        <input type="number" name="price">
        <p>Nome do Produto</p>
        <input type="text" name="productName">
    </div>
    <div>
      <button type="submit" name="submit">Submit</button>
    </div>
  </form>
</body>
