<!-- ResultsList -->
<!-- <div id="results-list" class="row justify-content-md-end justify-content-center mt-2 mx-0">
  <div class="col-12 col-md-12">
    {{#each products}}
      <div class="card mb-1 btn" onclick="location.href = '/products/{{_id}}'">
        <div class="card-body">
          <h5 class="card-title align-text-top">{{name}}</h5>
        </div>
      </div>
    {{/each}}
  </div>
</div> -->


    <select class="form-control" name="offer[delivery]">

      <option disabled selected value> Nome do produto </option>
      {{#each products}}
        <option value={{_id}}>{{name}}</option>
      {{/each}}
    </select>
<!-- end ResultsList -->
