<!-- ResultsList -->
    <div class="input-group-prepend">
      <div class="input-group-text"><i class="fas fa-box"></i></div>
    </div>
    <select class="form-control" name="offer[product]">
      {{#each products}}
        <option value={{_id}}>{{name}}</option>
      {{/each}}
    </select>
<!-- end ResultsList -->
