<!-- NavBar -->
<div class="pos-f-t">
    <nav class="navbar navbar-dark">
    <form action="" method="get">
      <button class="btn btn-outline-dark" type="submit">
        <i class="fas fa-arrow-left fa-2x"></i>
      </button>
    </form>

    <form class="float-right my-2 my-lg-0 my-sm-0">
      <input class="form-control my-2 my-sm-0 float-right" type="search" placeholder="Buscar">
      <button class="btn btn-outline-dark " type="submit">
        <i class="fas fa-search fa-2x"></i>
      </button>
    </form>
  </nav>
</div>
<!-- end NavBar -->
