<header class="container img-responsive text-center">
    <img src="images/logo menor.png" alt="Logo do MegaPool">
</header>
<div class="container">
  <div class="row">
    <div class="col col-xs-8 align-self-center">
      <form action="/signup" method="post"> <!--o que a pessoa inserir nos campos vai pro bancodedados.php-->
          <fieldset>
            <div class="form-group">
              <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Nome</label>
                <div class="col-sm-10 col-md-8">
                  <input type="text" class="form-control" name="name" id="name">
                </div>
              </div>
              <div class="form-group row">
                <label for="mail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10 col-md-8">
                  <input type="text" class="form-control" name="mail" id="mail" placeholder="email@exemplo.com">
                </div>
              </div>
              <div class="form-group row">
                <label for="pass" class="col-sm-2 col-form-label">Senha</label>
                <div class="col-sm-10 col-md-8">
                  <input type="password" class="form-control" name="pass" id="pass">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col-xs-8 text-center">
                <div class="form-group">
                  <div class="btn-group btn-group-toggle col-xs-5 col-md-8" style="padding-left: 1.5%;" data-toggle="buttons">
                    <label class="col-md-3 btn-secondary btn b">
                      <input type="radio" name="userType" id="industria" autocomplete="off" checked="checked"> Indústria
                    </label>
                    <label class="col-md-3 btn-secondary btn b">
                      <input type="radio" name="userType" id="produtor" autocomplete="off"> Produtor
                    </label>
                    <label class="col-md-3 btn-secondary btn b">
                      <input type="radio" name="userType" id="franqueado" autocomplete="off"> Franqueado
                    </label>
                    <label class="col-md-3 btn-secondary btn b">
                      <input type="radio" name="userType" id="revendedor" autocomplete="off"> Revendedor
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="form-group row" id="cpf">
                <div class="col col-md-2">
                  <label for="name">CPF</label>
                </div>
                <div class="col-12 col-md-8">
                <input type="cpf" class="form-control" name="cpf">
                </div>
              </div>
              <div class="form-group row" id="cnpj">
                <div class="col col-md-2">
                  <label for="name">CNPJ</label>
                </div>
                <div class="col-12 col-md-8">
                  <input type="text" class="form-control" name="cnpj">
                </div>
              </div>
              <div class="form-check form-check-inline" id="temloja">
                <div class="form-group row">
                  <label for="temloja" class="col-sm-2 col-form-label col-md-12 ">Tem loja?</label>
                  <div class="col-sm-10 col-md-12">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input " type="radio" name="store" id="inlineRadio" value="option1">
                      <label class="form-check-label" for="inlineRadio1">Sim</label>
                    </div>
                    <input class="form-check-input" type="radio" name="store" id="inlineRadio" value="option2">
                    <label class="form-check-label" for="inlineRadio2">Não</label>
                  </div>
                </div>
              </div>

          </fieldset>
          <div class="form-group">
            <div class="row justify-content-center">
              <button type="submit" class="col-5 col-md-2 btn btn-info btn-primary" style="margin: 0 5px;">Enviar</button>
              <button type="reset" class="col-5 col-md-2 btn btn-light">Limpar</button>
            </div>
          </div>
        </ul>
      </form>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('#cpf').hide();
    $('#cnpj').hide();
    $('#temloja').hide();
      $('#industria').change(function(){
        $('#cpf').hide();
        $('#cnpj').show();
        $('#temloja').hide();
    });
      $('#produtor').change(function(){
        $('#cpf').show();
        $('#cnpj').hide();
        $('#temloja').hide();
      })
      $('#franqueado').change(function(){
        $('#cpf').show();
        $('#cnpj').hide();
        $('#temloja').hide();
      })
      $('#revendedor').change(function(){
        $('#cpf').show();
        $('#cnpj').hide();
        $('#temloja').show();
      })
  });
</script>
