<header class="container img-responsive text-center">
    <img src="images/logo menor.png" alt="Logo do MegaPool">
</header>

<div class="container text-light">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-md-6 col-lg-5 bg-dark rounded pt-2">
      <form action="/signup" method="post">
        <fieldset>
          <div class="form-group">
            <div class="form-group">
              <label for="name" class="">Nome</label>
              <div class="">
                <input type="text" class="bg-light form-control" name="name" id="name">
              </div>
            </div>
            <div class="form-group">
              <label for="mail" class="">Email</label>
              <div class="">
                <input type="text" class="bg-light form-control" name="mail" id="mail" placeholder="email@exemplo.com">
              </div>
            </div>
            <div class="form-group">
              <label for="pass" class="">Senha</label>
              <div class="">
                <input type="password" class="bg-light form-control" name="pass" id="pass">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <label for="userType" class="">Tipo de usuário</label>
              <div class="form-group" id="userType">
                <div class="btn-group btn-group-toggle col-12 px-0 mx-0" data-toggle="buttons">
                  <button class="col-3 btn btn-secondary btn btn-sm border border-dark">
                    <input type="radio" name="userType" id="industry" value="Indústria">Indústria
                  </button>
                  <button class="col-3 btn btn-secondary btn btn-sm border border-dark">
                    <input type="radio" name="userType" id="producer" value="Produtor">Produtor
                  </button>
                  <button class="col-3 btn btn-secondary btn btn-sm border border-dark">
                    <input type="radio" name="userType" id="franchisee" value="Franqueado">Franq.
                  </button>
                  <button class="col-3 btn btn-secondary btn btn-sm border border-dark">
                    <input type="radio" name="userType" id="dealer" value="Revendedor">Revenda
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="form-group producer-option franchisee-option dealer-option d-none">
                <label for="cpf">CPF</label>
                <input type="text" class="bg-light form-control" name="cpf" id="cpf">
              </div>

              <div class="form-group industry-option d-none">
                <label for="cnpj">CNPJ</label>
                <input type="text" class="bg-light form-control" name="cnpj" id="cnpj">
              </div>


              <div class="dealer-option d-none">
                <label for="storeRadios">Você tem loja?</label>
                <div class="form-group" id="storeRadios">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="store" id="storeRadio1" value="yes" checked>
                    <label class="form-check-label" for="exampleRadios1">
                      Sim
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="store" id="storeRadio2" value="no">
                    <label class="form-check-label" for="storeRadios2">
                      Não
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>

        <div class="row justify-content-center d-none mt-4" id="form-buttons">
          <div class="form-group col-12 row justify-content-between">
            <button type="submit" class="col-6 btn btn-default bg-green text-dark mr-1">Enviar</button>
            <button type="reset" class="col btn btn-default bg-light text-dark">Limpar</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
