{{#section 'stylesheets'}}
{{/section}}

<div class="container">
{{#ifCond user.status 'Aguardando aprovação'}}
<h3 class="text-center">Atenção usuário</h3>
<p class="zoom-area"><h6 class="text-center">O seu perfil ainda está sob análise da equipe Megapool, aguarde até que seu pedido de cadastro seja avaliado.</h6>

{{else ifCond user.status 'Bloqueado'}}
<h3 class="text-center">Atenção usuário</h3>
<p class="zoom-area"><h6 class="text-center">Infelizmente, seu pedido não foi aprovado por nossa equipe, portanto não será possível participar da plataforma Megapool.</h6>
{{/ifCond}}

<div class="container">
  <form action="/site" method="GET">
    <button class="w-100 col-10 col-md-4 text-white btn btn-default bg-green mx-auto d-block my-2" type="submit" name="button">Retornar para o site</button>
  </form>
</div>

</div>

{{#section 'scripts'}}
{{/section}}
