<div class="container">
    <div class="col col-xs-8 align-self-center">
        <h1 style="color: #fff">Email enviado com sucesso!</h1>
        <form action="/login" method="get">
            <button type="submit" class="btn col-md-8 btn-success mx-auto d-block">Fazer Login</button>
        </form>
    </div>
</div>
