{{#section 'stylesheets'}}
  <link rel='stylesheet' href='/stylesheets/home.css'>
{{/section}}
<h1>DEUS É TOP</h1>
<h1>DIREITOS<h1>
<p>
O comprador tem o direito a arrependimento do negócio em um prazo de 7 dias após o
recebimento da mercadoria (mesmo tendo pago antecipado) com o direito a receber todo o

valor pago atualizado de acordo com a lei CDC 8079/90.

Todos os vendedores da Plataforma são empresas devidamente constituídas e registradas na
junta comercial e devem fornecer notas fiscais, receituário Agronômico, local para descartes

de embalagens e orientação técnica sobre a utilização dos produtos.
Tem o direito de saber de qual empresa está comprando no momento da efetivação do

pagamento do boleto.

O produtor rural tem o direito a escolher um franqueado, para ajuda-lo nas tomadas de

decisão, sem custo financeiro.

Receber relatórios atualizados periodicamente para acompanhar o andamento das cotações.

DEVERES

Todas as compras feitas através da MEGA POOL, são para pagamentos á vista, realizados
diretamente para o vendedor ou fabricante do produto, via boleto bancário.
Ter responsabilidade sobre os volumes cotados, pois todos produtores daquele grupo depende

dos volumes cotados para ter poder de compra.

Após emitido o pedido e boleto de pagamento, realizar o pagamento no prazo determinado.
</p>
{{#section 'scripts'}}
  <script src="/javascripts/navbar.js"></script>
{{/section}}
