{{#section 'stylesheets'}}
<link rel='stylesheet' href='/stylesheets/home.css'>
{{/section}}
<div class="pb-3 gradient-background text-white">
  <h3 class="text-center font-black">TERMOS E USOS:</h3>
</div>
<div class="pt-5 pl-4 pb-4 pr-4 col-lg-8 col-md-10 col-sm-12 mx-auto">
  <div class="text-justify font-light">
    <p>Estes Termos e Usos regulamenta o uso do serviço da plataforma na Internet  denominada Plataforma MEGAPOOL agro,
      pessoa jurídica com sede na cidade de Curitiba – PR, Rua Gloria Senna, Bairro Sitio Cercado, N- 67, CEP: 81900-670,
      torna publico seu termo de uso com objetivo de  Atender a todas as normas vigentes no país e respeitando a lei
      7802/1989, além da preocupação com a segurança da população e meio ambiente no que diz respeito ao uso racional de
      defensivos agrícolas, com modelo negócio patenteado, oferece aos seus usuários:</p>
    <p> 1) Qualquer pessoa, física ou jurídica, doravante nominada USUÁRIO, que pretenda utilizar os serviços da MEGAPOOL,
      deverá atender aos seguintes requisitos: ser produtor rural, pecuarista, empresa e/ou profissional que atue diretamente
      no ramo de comercialização de insumos agrícolas, este por sua vez deverá aceitar todas as  cláusulas de uso e todas
      as demais políticas e princípios que as regem.</p>
    <p><bold class="font-bold">2) A ACEITAÇÃO DESTES TERMOS E CONDIÇÕES GERAIS É INDISPENSÁVEL À UTILIZAÇÃO DA PLATAFORMA MEGAPOOL.</bold></p>
    <p>3) O USUÁRIO deverá ler, certificar-se de haver entendido e aceitar todas as disposições estabelecidas nos Termos
       e Condições e na Política de Privacidade, para que então seja efetuado com sucesso seu cadastro como USUÁRIO da
       plataforma.</p>
   <div class="text-align-left">
     <h4>DO USUÁRIO:</h4>
   </div>
   <p>4) Os serviços da MEGAPOOL somente estão disponíveis para as pessoas que tenham plena capacidade de fato para
     contratar. Dessa forma, não podem efetuar cadastro pessoas menores de 18 anos ou acometidas por outras incapacidades
      inscritas nos artigos 3º e 4º do Código Civil Brasileiro, salvo se devidamente representadas ou assistidas.</p>
   <p>5) As pessoas jurídicas efetuarão seus cadastros por meio de representante legal.</p>
   <p>6) O USUÁRIO se compromete a fornecer seus dados pessoais de forma verdadeira e precisa, devendo atualizá-los sempre
      que ocorrer alguma alteração.</p>
   <p>7) A MEGAPOOL pode checar a veracidade dos dados cadastrais de um USUÁRIO a qualquer tempo. Caso constate haver
      entre eles dados incorretos ou inverídicos, ou ainda caso o USUÁRIO se furte ou se negue a enviar os documentos requeridos,
      a plataforma poderá bloquear o perfil do USUÁRIO, até que a irregularidade seja sanada.</p>
   <p>8) O USUÁRIO acessará sua conta através de login e senha, comprometendo-se a não informar a terceiros esses dados,
     responsabilizando-se integralmente pelo uso que deles seja feito.</p>
   <p>9) O USUÁRIO compromete-se a notificar a MEGAPOOL imediatamente, através de comunicação em que fique certificado o recebimento
      pela MEGAPOOL, a respeito de qualquer uso não autorizado de sua conta, bem como o acesso não autorizado por terceiros a mesma.
       O USUÁRIO será o único responsável pelas operações efetuadas em sua conta, uma vez que o acesso à mesma só será possível
        mediante a senha pessoal do USUÁRIO.</p>
   <p>10) O login que o USUÁRIO utilizado na MEGAPOOL não poderá guardar semelhança com o nome MEGAPOOL, tampouco poderá ser utilizado
      qualquer login considerado ofensivo, bem como os que contenham dados pessoais do USUÁRIO ou alguma URL ou endereço eletrônico.</p>
   <p>11) É de responsabilidade do USUÁRIO manter uma cópia dos seus e-mails do domínio que estão hospedados em nossos
     servidores. E-mails na caixa de entrada com mais de 90 dias, são deletados automaticamente do sistema como medida
      de limpeza dos servidores. Caso o USUÁRIO queira que os e-mails sejam salvos de forma permanente, deve-se utilizar algum
      software de e-mails como por exemplo o Outlook.</p>
   <p>12) As transações financeiras realizadas entre os USUÁRIOS da plataforma são de inteira responsabilidade dos mesmos,
     de acordo com os direitos e deveres que cada usuário aceita no momento do cadastro.</p>
   <p>13) Todas as entregas de insumos são de responsabilidades dos vendedores, arcando com os custos de fretes e atendendo os prazos
      de entrega acordados, casos de atraso em entregas que acarretem prejuízos podem ser ressarcidos pelos vendedores aos compradores.
   <p>14) os USUÁRIOS da plataforma estão protegidos pelo Código de defesa do consumidor e também por legislação específica que
      rege as negociações por meios digitais, devendo sempre exigir que seus direitos e deveres sejam respeitados.</p>
  <div class="text-align-left">
    <h4>DO SERVIÇO PRESTADO:</h4>
  </div>
  <p>15) A MEGAPOOL é um website/plataforma web que possui como objetivo intermediar negociações comerciais específicas no ramo
     de insumos agrícolas, nos moldes dos planos cadastrados no portal.</p>
  <p>16) Os serviços disponibilizados pela MEGAPOOL são gratuitos para os usuários compradores, sendo remunerados através
     de sistema de comissão que são cobrados somente dos usuários vendedores, após concretização dos negócios.</p>
  <p>17) A plataforma MEGAPOOL, também utiliza o sistema de franqueados autônomos, que não possuem vínculo empregatício com
     a MEGAPOOL, e seu contrato e clausulas que regem, são específicas e negociadas pessoalmente, em contrato específico.</p>
  <p>18) Os USUÁRIOS não possuem vínculos de permanência com os serviços prestados, podendo, assim, cancelá-los caso desejem,
     mediante notificação escrita, virtual ou não, com confirmação de recebimento.</p>
  <p>19) A qualquer momento a MEGAPOOL poderá, a seu exclusivo critério, suspender ou interromper por prazo indeterminado os
     serviços prestados a qualquer tipo de USUÁRIO, em casos de suspeita de cometimento de fraudes ao consumidor, fundamentada
      por denúncias de qualquer tipo, notificações judiciais e/ou extrajudiciais, citações em processos de responsabilidade
      a qualquer título.</p>
  <p>20) A MEGAPOOL tem como principal objetivo atender o produtor rural inferindo qualidade e seriedade no comercio de
    insumos, utilizando cruzamento de dados de forma eletrônica com rapidez e eficiência, por isso, qualquer atitude criminal
     suspeita, como negociação de produtos falsificados, contrabandeados ou de origem suspeita, será logo identificada e os fatos
      relatados as autoridades policiais.</p>
  <p>21) Caso sejam detectados acessos robóticos e/ou ilegais na plataforma a mesma poderá bloquear automaticamente o usuário.
  <p>22) A MEGAPOOL não se responsabiliza por qualquer dano, prejuízo ou perda sofridos pelo USUÁRIO em razão de falhas na internet,
     no sistema ou no servidor utilizados pelo USUÁRIO, decorrentes de condutas de terceiros, caso fortuito ou força maior. A MEGAPOOL
      também não será responsável por qualquer vírus que ataque o equipamento do USUÁRIO em decorrência do acesso, utilização
       ou navegação na internet ou devido a transferências de dados, arquivos, imagens, textos ou áudio.</p>
  <p>23) A MEGAPOOL, em caso de desacordo entre comprador e vendedor, se responsabiliza a dar todo o suporte na resolução dos
     problemas com objetivo de não causar prejuízos para nenhuma das partes, porém não tem compromisso algum com negociações
     feitas por fora da plataforma, com empresas e/ou usuários cadastrados na plataforma.</p>
  <p>24) A MEGAPOOL se responsabiliza apenas por manter a plataforma web no ar bem como seu pleno funcionamento atendendo
     a seus usuários em questões de dúvidas e ou falhas decorrentes ao uso da plataforma. Eventuais quedas do serviço
     podem ocorrer, porém não detectáveis antecipadamente mais a correção com o máximo de urgência para a volta de seu
      pleno funcionamento. Manutenções podem ocorrer porem serão comunicados antecipadamente.</p>
  <div class="text-align-left">
    <h4>DAS DISPOSIÇÕES FINAIS:</h4>
  </div>
  <p>25) Todas as transações realizadas através da plataforma devem possuir, nota fiscal, receituários Agronômico,
    indicação de local para devolução de embalagens, ficha de emergência, suporte técnico de profissional qualificado
    e todos os cadastros e realizados nos órgãos de defesa agropecuária locais, conforme a legislação vigente.</p>
  <p>26) Todos os consumidores têm o direito de devolução de produtos adquiridos que estiverem fora dos padrões combinados,
     a solicitação poderá ser feita até 7 dias após o recebimento do produto e receberá o valor pago integralmente, conforme
      lei específica que regulamenta as vendas por meio eletrônico. Lei CDC 8079/90.</p>
  <p>27) O conteúdo deste instrumento poderá ser modificado livremente pela MEGAPOOL por meio de comunicação eletrônica aos
     USUÁRIOS, passando os novos termos a valer desde a data em que forem veiculados no site da MEGAPOOL, reservando-se ao USUÁRIO
      o direito de permanecer cadastrado ou simplesmente solicitar sua exclusão.</p>
  <p>28) Fica eleito, para dirimir eventuais dúvidas e resolver os conflitos oriundos deste contrato, o foro da Cidade de
    Curitiba, Estado do Paraná, com renúncia a qualquer outro, por mais privilegiado que seja salvo os USUÁRIOS que se
    enquadrem no conceito legal de consumidor e optem pela prerrogativa legal.</p>
  <p>29) Os casos omissos neste instrumento serão resolvidos de conformidade com as disposições legais aplicáveis à espécie.</p>


  </div>
</div>
{{#section 'scripts'}}
<script src="/javascripts/navbar.js"></script>
{{/section}}
