{{#section 'stylesheets'}}
  <link rel='stylesheet' href='/stylesheets/home.css'>
{{/section}}
<div class="pb-3 gradient-background text-white">
  <h3 class="text-center font-black">Termos de Uso</h3>
</div>
<div class="">
<div class="p-5 col-lg-8 col-md-10 col-sm-12 mx-auto">
  <div class="text-align-left">
    <h4>Direitos</h4>
  </div>
  <div class="text-justify">
    <p class="font-light">
<p> Todos os pagamentos serão adiantados, antes da entrega, diretamente do cliente para a revenda, seguindo todos os passos necessários: proposta, pedido, pagamento do boleto,  confirmação do pagamento e entregas dos produtos.</P>
<p>Todas as revendas  cadastrada na plataforma terão o mesmo direito de anunciar seus produtos,  o que vai determinar a escolha será o produto que estará sendo ofertado e o preço oferecido, (o menor preço aparece na frente)  em caso de ofertas no mesmo preço, irá aparecer todas as opções com mesmo preço, porém a ordem é determinada por uma avaliação de grau de reputação do vendedor, apara auxiliar o comprador a escolher, já que nesse momento o comprador ainda não tem o nome da revenda.</P>
<p>A revenda sempre saberá quem são os compradores no momento do pedido, bem como outras informações que sejam relevantes podem ser solicitadas á plataforma, para promover um pós venda e tentar fidelizar o cliente.</P>
<p>Somente as revendas tem o direito de ofertar seus produtos para o mercado de demanda imediata utilizando seu estoque, para entregas em até 48 h após o pagamento, podendo também participar das vendas para entregas em até 30 dias, nesse caso algumas indústrias também podem participar, para cotações para safra e safrinha  as revendas podem participar somente se a revenda for distribuidor exclusivo para a região e o fabricante não tenham vendas diretas, neste caso deverá avisar a plataforma que analisará caso a caso.</P>
<p>As revendas também podem comprar pela plataforma, inserindo suas demandas e somando aos volumes de todo o Brasil para a negociação com a indústria.</P>
<p>Tem o direito de participar do  programa MEGA OPORTUNIDADE, conheça mais esse  programa mais abaixo.</P>
<p class="mb-5">Tem o direito de receber relatórios periódicos de como anda suas operações na plataforma:  ofertas,  demandas e cotações de seus produtos, bem como algumas informações gerais que serão passadas pela plataforma, sobre o mercado de insumos na região.</P>
    </p>
  </div>
  <div class="text-align-left">
    <h4>Deveres</h4>
  </div>
  <div class="text-justify">
    <p class="font-light">
      <p>A revenda tem o dever de cumprir com o que ofertar na plataforma: sob pena de lei, itens como; preços, volumes, entregas, além de manter sempre atualizado as ofertas dos produtos e confirmar o estoque a cada efetivação de pedido, etc.</P>
      <p>Tem o dever de entregar os produtos diretamente aos clientes (sem custo adicional ao cliente), com notas fiscais, receituário agronômico e orientação sobre local de devolução de embalagens vazias, além de se responsabilizar pelo pós venda e assistência técnica se for necessário.</P>
      <p>Somente em caso de escolha do cliente em retirar o produto na revenda,  não será obrigatória a entrega.</P>
      <p>Preços  anunciados em DÓLAR deverá ser convertido e atualizado em REAIS no momento da emissão do boleto para pagamento, respeitando a cotação do PTAX fornecido pelo banco Central.</P>
      <p>Todos os lotes de produtos deverão aparecer na nota fiscal  e será rastreado para evitar ofertas de produtos de origem ilícita, caso seja encontrado irregularidades sobre no lote do produto a queixa seguirá diretamente as autoridades policiais, a revenda é totalmente responsável pela origem e qualidade dos produtos comercializados.</P>
      <p>No caso das compras, a revenda não pode utilizar a plataforma somente para especulação,  adicionando suas demandas e retirando no momento do fechamento somente para ter acesso a preços, sem motivo justificável, isso prejudica outros revendedores que estavam dependendo do seu volume para ter poder de barganha e pode prejudicar todo o setor, essa ação pode remeter a penalidades além de pesar negativamente em sua reputação como vendedor.</P>
      <p>Deve  estar ciente a regras que se aplica a vendas pela internet, de acordo com o código de defesa do consumidor:
      <P>segue abaixo:</p>
      <p>O comprador tem o direito a arrependimento do negócio em um prazo de 7 dias após o recebimento da mercadoria (mesmo tendo pago antecipado)  com o direito a receber todo o valor pago  e sem burocracia, de acordo com o art: 49 da lei CDC 8078/90.</P>
      <p>A plataforma cobrará uma comissão sobre as vendas efetivadas:</P>
      <p>As comissões pagas à plataforma, serão sobre o volume de vendas efetivadoas, os pagamentos são realizados através de boletos e emitidos no momento do pagamento realizado pelo cliente a revenda, sujeito a protesto e negativação.</P>
      <p class="mb-5">A plataforma emitirá nota fiscal  para recebimento das comissões:</P>
      <p class="text-center">Tabela de comissões cobradas</P>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th></th>
              <th>Categoria do produto</th>
              <th>Comissão(%)</th>
            </tr>
          </thead>
          <tbody id="myTable">
            <tr>
              <td>1</td>
              <td>DEFENSIVOS AGRÍCOLAS/AGROQUÍMICOS</td>
              <td>1</td>
            </tr>
            <tr>
              <td>2</td>
              <td>SEMENTES EM GERAL</td>
              <td>2</td>
            </tr>
            <tr>
              <td>3</td>
              <td>FERTILIZANTES SÓLIDOS DE BASE</td>
              <td>0,65</td>
            </tr>
            <tr>
              <td>4</td>
              <td>FERTILIZANTES LÍQUIDOS/ADJUVANTES/BIOLÓGICOS</td>
              <td>3</td>
            </tr>
            <tr>
              <td>5</td>
              <td>PRODUTOS MEGA OPORTUNIDADE</td>
              <td>3</td>
            </tr>
        </table>
        <p>*Produtos que não se encaixam nessa categoria acima, deverão ser enviados para nossa avaliação para o e-mail: contato@megapool.com.br</p>
        <p>*Para fertilizantes sólidos de base (especiais), ex: proteção ou liberação programada, adição de ácidos húmicos, organominerais etc, a taxa cobrada será comissão de 1%.</p>
        <p>*As comissões só serão cobradas após o negócio ser efetivado e pago pelo cliente.</p>
    </p>
  </div>
</div>
</div>
</div>
{{#section 'scripts'}}
  <script src="/javascripts/navbar.js"></script>
{{/section}}
