{{#section 'stylesheets'}}
  <link rel='stylesheet' href='/stylesheets/home.css'>
{{/section}}
<div class="pb-3 gradient-background text-white">
  <h3 class="text-center font-black">Termos de Uso</h3>
</div>

<div class="p-5">
  <div class="text-align-left">
    <h4>Direitos</h4>
  </div>
  <div class="text-justify">
    <p class="font-light">
      O comprador tem o direito a arrependimento do negócio em um prazo de 7 dias após o
      recebimento da mercadoria (mesmo tendo pago antecipado) com o direito a receber todo o

      valor pago atualizado de acordo com a lei CDC 8079/90.

      Todos os vendedores da Plataforma são empresas devidamente constituídas e registradas na
      junta comercial e devem fornecer notas fiscais, receituário Agronômico, local para descartes

      de embalagens e orientação técnica sobre a utilização dos produtos.
      Tem o direito de saber de qual empresa está comprando no momento da efetivação do

      pagamento do boleto.

      O produtor rural tem o direito a escolher um franqueado, para ajuda-lo nas tomadas de

      decisão, sem custo financeiro.

      Receber relatórios atualizados periodicamente para acompanhar o andamento das cotações.
    </p>
  </div>
  <div class="text-align-left">
    <h4>Deveres</h4>
  </div>
  <div class="text-justify">
    <p class="font-light">
      Todas as compras feitas através da MEGA POOL, são para pagamentos á vista, realizados
      diretamente para o vendedor ou fabricante do produto, via boleto bancário.
      Ter responsabilidade sobre os volumes cotados, pois todos produtores daquele grupo depende

      dos volumes cotados para ter poder de compra.

      Após emitido o pedido e boleto de pagamento, realizar o pagamento no prazo determinado.
    </p>
  </div>
</div>
</div>
{{#section 'scripts'}}
  <script src="/javascripts/navbar.js"></script>
{{/section}}
