
<form action="/test/5c01caee78e3182d2c39c14a?_method=PUT" method="POST">
  <input type="date" name="group[closeDate]" class="form-control">
  <button type="submit" class="btn bg-green text-light2">Salvar</button>
</form>
