
<div id="the-basics">
  <input class="typeahead" type="text" placeholder="States of USA">
</div>

{{#section 'scripts'}}
  <script src="/typeahead/typeahead.bundle.js"></script>
  <script src="/javascripts/test.js"></script>
{{/section}}
