
<form action="/test/5c01caee78e3182d2c39c14a?_method=PUT" method="POST">
  <input type="date" name="group[closeDate]" class="form-control">
  <button type="submit" class="btn bg-green text-light2">Salvar</button>
</form>


<form action="/test" enctype="multipart/form-data" method="post">
  <input type="file" name="contract">
  <button type="submit">Enviar</button>
</form>
{{#compare 1 2 operator=">"}}
  jesus
  {{else}}
  não foi
{{/compare}}


<!-- Como fazer na página de requisições -->
<form action="/admin/send-contract" enctype="multipart/form-data" method="post">
  <input type="file" name="contract">
  <input type="hidden" name="id" value="{{_id}}">
  <button type="submit">Enviar contrato</button>
</form>
