<body>
  <form action="/transaction/transaction" method="post">
    <div>
      <h1>Transaction</h1>
        <p>Nome da Oferta:</p>
        <input type="text" name="offerId" >
        <p>Nome do Grupo</p>
        <input type="text" name="groupId">
        <p>Amount Bought</p>
        <input type="number" name="amountBought">
        <p>Price Bought</p>
        <input type="number" name="priceBought">
        <p>unitPrice</p>
        <input type="number" name="unitPrice">
    </div>
    <div>
      <button type="submit" name="submit">Submit</button>
    </div>
  </form>
</body>
