
<form action="/test/5c01caee78e3182d2c39c14a?_method=PUT" method="POST">
  <input type="date" name="group[closeDate]" class="form-control">
  <button type="submit" class="btn bg-green text-light2">Salvar</button>
</form>


<form action="/test" enctype="multipart/form-data" method="post">
  <input type="file" name="contract">
  <button type="submit">Enviar</button>
</form>

<form action="/test" method="post">
  <input type="text" name="name">
  <button type="submit">Enviar</button>
</form>


<!-- Como fazer na página de requisições -->
<form action="/admin/send-contract" enctype="multipart/form-data" method="post">
  <input type="file" name="contract">
  <input type="hidden" name="id" value="{{_id}}">
  <button type="submit">Enviar contrato</button>
</form>

<button type="button" id="trem">Abrir pop-up</button>
{{#section 'scripts'}}
<script>
$(document).ready(() => {
  $('#trem').click(() => {
    $.post('/test', null, (response) => {
      var wind = window.open("", "", "width=600,height=600,scrollbars=yes");
      wind.document.write(response);
    });
  });
});
</script>
{{/section}}
