{{#section 'stylesheets'}}
{{/section}}

<!-- Buttons -->
{{#ifCond userType 'Revenda'}}
<div class="row justify-content-center">
  <div class="my-auto col-lg-3 list-group-item index-highlight index-box">
    <i onclick="location.href = '/quotations'" class="fas fa-shopping-cart fa-lg">
      <span class="font1 mobile-color-font ml-2">Minhas cotações</span>
    </i>
    <i class="fas fa-angle-right fa-lg float-right"></i>
  </div>

  <div class="options">
    <button class="btn-index">Minhas cotações</button>
    <button class="btn-index">Minhas compras</button>
  </div

  <div class="my-auto col-lg-3 list-group-item index-highlight index-box">
    <i onclick="location.href = '/transactions'" class="fas fa-credit-card fa-lg">
      <span class="font1 mobile-color-font ml-2">Minhas compras</span>
    </i>
    <i class="fas fa-angle-right fa-lg float-right"></i>
  </div>

  <div class="my-auto col-lg-3 list-group-item index-highlight index-box">
    <i onclick="location.href = '/offers/new'" class="fas fa-external-link-alt fa-lg">
      <span class="font1 mobile-color-font ml-2">Oferecer produtos</span>
    </i>
    <i class="fas fa-angle-right fa-lg float-right"></i>
  </div>

  <div class="col-lg-3 list-group-item index-highlight index-box">
    <i onclick="location.href = '/offers/index'" class="fas fa-database fa-lg">
      <span class="font1 ml-2 mobile-color-font ml-2">Produtos oferecidos</span>
    </i>
    <i class="fas fa-angle-right fa-lg float-right"></i>
  </div>

  <div class="col-lg-3 list-group-item index-highlight index-box">
    <i onclick="location.href = '/user/orders'" class="fas fa-file-alt fa-lg">
      <span class="font1 ml-2 mobile-color-font ml-2">Demandas</span>
    </i>
    <i class="fas fa-angle-right fa-lg float-right"></i>
  </div>
</div>

{{else ifCond userType 'Indústria'}}
<div class="row justify-content-center">
  <div class="my-auto col-lg-3 list-group-item index-highlight index-box">
    <i onclick="location.href = '/offers/new'" class="fas fa-external-link-alt fa-lg">
      <span class="font1 mobile-color-font ml-2">Oferecer produtos</span>
    </i>
    <i class="fas fa-angle-right fa-lg float-right"></i>
  </div>

  <div class="col-lg-3 list-group-item index-highlight index-box">
    <i onclick="location.href = '/user/offers'" class="fas fa-database fa-lg">
      <span class="font1 ml-2 mobile-color-font ml-2">Produtos oferecidos</span>
    </i>
    <i class="fas fa-angle-right fa-lg float-right"></i>
  </div>

  <div class="col-lg-3 list-group-item index-highlight index-box">
    <i onclick="location.href = '/user/orders'" class="fas fa-file-alt fa-lg">
      <span class="font1 ml-2 mobile-color-font ml-2">Demandas</span>
    </i>
    <i class="fas fa-angle-right fa-lg float-right"></i>
  </div>
</div>

{{else ifCond userType 'Produtor'}}
<div class="row justify-content-center">
  <div class="my-auto col-lg-3 list-group-item index-highlight index-box">
    <i onclick="location.href = '/quotations'" class="fas fa-shopping-cart fa-lg">
      <span class="font1 mobile-color-font ml-2">Minhas cotações</span>
    </i>
    <i class="fas fa-angle-right fa-lg float-right"></i>
  </div>

  <div class="my-auto col-lg-3 list-group-item index-highlight index-box">
    <i onclick="location.href = '/transactions'" class="fas fa-credit-card fa-lg">
      <span class="font1 mobile-color-font ml-2">Minhas compras</span>
    </i>
    <i class="fas fa-angle-right fa-lg float-right"></i>
  </div>

  <div class="my-auto col-lg-3 list-group-item index-highlight index-box">
    <i onclick="location.href = '/success'" class="fas fa-external-link-alt fa-lg">
      <span class="font1 mobile-color-font ml-2">Ser franqueado</span>
    </i>
    <i class="fas fa-angle-right fa-lg float-right"></i>
  </div>
</div>

{{else ifCond userType 'Franqueado'}}
<div class="row justify-content-center">
  <div class="my-auto col-lg-3 list-group-item index-highlight index-box">
    <i onclick="location.href = '/quotations'" class="fas fa-shopping-cart fa-lg">
      <span class="font1 mobile-color-font ml-2">Minhas cotações</span>
    </i>
    <i class="fas fa-angle-right fa-lg float-right"></i>
  </div>

  <div class="my-auto col-lg-3 list-group-item index-highlight index-box">
    <i onclick="location.href = '/transactions'" class="fas fa-credit-card fa-lg">
      <span class="font1 mobile-color-font ml-2">Minhas compras</span>
    </i>
    <i class="fas fa-angle-right fa-lg float-right"></i>
  </div>

  <div class="my-auto col-lg-3 list-group-item index-highlight index-box">
    <i onclick="location.href = '/success'" class="fas fa-external-link-alt fa-lg">
      <span class="font1 mobile-color-font ml-2">Meus clientes</span>
    </i>
    <i class="fas fa-angle-right fa-lg float-right"></i>
  </div>
</div>

{{/ifCond}}

<!-- end Buttons -->

{{#section 'scripts'}}
{{/section}}
