{{#section 'stylesheets'}}
{{/section}}
<div class="p-3">

{{#ifCond userType 'Revendedor'}}
<div class="p-3">
  <div class="row justify-content-center">
    <div onclick="location.href = '/quotations'" class="btn-index col-lg-3 list-group-item pt-4 pb-4 mr-2 ml-2 mt-5 mobile-font2 text-center">
      <i class="fas fa-box fa-lg ml-3 mr-4 float-left"></i>
      <span class="font-light float-left">Minhas cotações</span>
      <i class="fas fa-angle-right fa-lg float-right"></i>
    </div>
    <div onclick="location.href = '/user/orders'" class="btn-index col-lg-3 list-group-item pt-4 pb-4 mr-2 ml-2 mt-5 mobile-font2 text-center">
      <i class="fas fa-box-open fa-lg ml-3 mr-4 float-left"></i>
      <span class="font-light float-left">Minhas compras</span>
      <i class="fas fa-angle-right fa-lg float-right"></i>
    </div>
    <div onclick="location.href = '/offers/new'" class="btn-index col-lg-3 list-group-item pt-4 pb-4 mr-2 ml-2 mt-5 mobile-font2 text-center">
      <i class="fas fa-reply fa-lg ml-3 mr-4 float-left"></i>
      <span class="font-light float-left">Oferecer produtos</span>
      <i class="fas fa-angle-right fa-lg float-right"></i>
    </div>
    <div onclick="location.href = '/user/offers'" class="btn-index col-lg-3 list-group-item pt-4 pb-4 mr-2 ml-2 mt-5 mobile-font2 text-center">
      <i class="fas fa-reply fa-lg ml-3 mr-4 float-left"></i>
      <span class="font-light float-left">Produtos oferecidos</span>
      <i class="fas fa-angle-right fa-lg float-right"></i>
    </div>
    <div onclick="location.href = '/user/sales'" class="btn-index col-lg-3 list-group-item pt-4 pb-4 mr-2 ml-2 mt-5 mobile-font2 text-center">
      <i class="fas fa-reply fa-lg ml-3 mr-4 float-left"></i>
      <span class="font-light float-left">Demandas</span>
      <i class="fas fa-angle-right fa-lg float-right"></i>
    </div>
  </div>
</div>


{{else ifCond userType 'Indústria'}}
<div class="p-3">
  <div class="row justify-content-center">
    <div onclick="location.href = '/offers/new'" class="btn-index col-lg-3 list-group-item pt-4 pb-4 mr-2 ml-2 mt-5 mobile-font2 text-center">
      <i class="fas fa-box fa-lg ml-3 mr-4 float-left"></i>
      <span class="font-light float-left">Oferecer produtos</span>
      <i class="fas fa-angle-right fa-lg float-right"></i>
    </div>
    <div onclick="location.href = '/user/offers'" class="btn-index col-lg-3 list-group-item pt-4 pb-4 mr-2 ml-2 mt-5 mobile-font2 text-center">
      <i class="fas fa-box-open fa-lg ml-3 mr-4 float-left"></i>
      <span class="font-light float-left">Produtos oferecidos</span>
      <i class="fas fa-angle-right fa-lg float-right"></i>
    </div>
    <div onclick="location.href = '/user/sales'" class="btn-index col-lg-3 list-group-item pt-4 pb-4 mr-2 ml-2 mt-5 mobile-font2 text-center">
      <i class="fas fa-reply fa-lg ml-3 mr-4 float-left"></i>
      <span class="font-light float-left">Demandas</span>
      <i class="fas fa-angle-right fa-lg float-right"></i>
    </div>
  </div>
</div>
{{else ifCond userType 'Produtor'}}
<div class="p-3">
  <div class="row justify-content-center">


    <div onclick="location.href = '/quotations'" class="btn-index col-lg-3 list-group-item pt-4 pb-4 mr-2 ml-2 mt-5 mobile-font2 text-center">
      <i class="fas fa-chart-line fa-lg ml-3 mr-4 float-left"></i>
      <span class="font-light float-left">Minhas cotações</span>
      <i class="fas fa-angle-right fa-lg float-right"></i>
    </div>

    <div onclick="location.href = '/user/orders'" class="btn-index col-lg-3 list-group-item pt-4 pb-4 mr-2 ml-2 mt-5 mobile-font2 text-center">
      <i class="fas fa-shopping-cart fa-lg ml-3 mr-4 float-left"></i>
      <span class="font-light float-left">Minhas compras</span>
      <i class="fas fa-angle-right fa-lg float-right"></i>
    </div>

    <div onclick="location.href = '/user/agreementList'" class="btn-index col-lg-3 list-group-item pt-4 pb-4 mr-2 ml-2 mt-5 mobile-font2 text-center">
      <i class="fas fa-leaf fa-lg ml-3 mr-4 float-left"></i>
      <span class="font-light float-left">Meu franqueado</span>
      <i class="fas fa-angle-right fa-lg float-right"></i>
    </div>

    <div onclick="location.href = '/user/franchisee'" class="btn-index col-lg-3 list-group-item pt-4 pb-4 mr-2 ml-2 mt-5 mobile-font2 text-center">
      <i class="fas fa-handshake fa-lg ml-3 mr-4 float-left"></i>
      <span class="font-light float-left">Contratar franqueado</span>
      <i class="fas fa-angle-right fa-lg float-right"></i>
    </div>

  </div>
</div>

{{else ifCond userType 'Franqueado'}}
<div class="row justify-content-center">
  <div onclick="location.href = '/quotations'" class="btn-index col-lg-3 list-group-item pt-4 pb-4 mr-2 ml-2 mt-5 mobile-font2 text-center">
    <i class="fas fa-chart-line fa-lg ml-3 mr-4 float-left"></i>
    <span class="font-light float-left">Minhas cotações</span>
    <i class="fas fa-angle-right fa-lg float-right"></i>
  </div>

  <div onclick="location.href = '/user/orders'" class="btn-index col-lg-3 list-group-item pt-4 pb-4 mr-2 ml-2 mt-5 mobile-font2 text-center">
    <i class="fas fa-shopping-cart fa-lg ml-3 mr-4 float-left"></i>
    <span class="font-light float-left">Minhas compras</span>
    <i class="fas fa-angle-right fa-lg float-right"></i>
  </div>

  <div onclick="location.href = '/user/agreementList'" class="btn-index col-lg-3 list-group-item pt-4 pb-4 mr-2 ml-2 mt-5 mobile-font2 text-center">
    <i class="fas fa-user fa-lg ml-3 mr-4 float-left"></i>
    <span class="font-light float-left">Meus clientes</span>
    <i class="fas fa-angle-right fa-lg float-right"></i>
  </div>
</div>

{{/ifCond}}
</div>
<!-- end Buttons -->

{{#section 'scripts'}}
{{/section}}
