{{#section 'stylesheets'}}
{{/section}}

<h4 class="mt-3 text-center">Nova oferta</h4>
<form action="/offers/" method="POST">
  <div class="row d-flex justify-content-between">
    <div class="col-md-4">
      <div class="form-group mx-4 my-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-box"></i></div>
          </div>
          <div class="">
            <!-- <input type="text" name="typeahead" class="typeahead tt-query" spellcheck="false" autocomplete="off"> -->
            <input name="q" type="text" class="form-control" placeholder="Pesquisa nome do produto" id="product-name"></input>
            <div id="products-result"></div>
          </div>


          <!-- <select class="form-control" name="offer[product]" >
            <option disabled selected value> Nome do produto </option>
            {{#each products}}
            <option name="offer[product]" value={{_id}}>{{name}}</option>
            {{/each}}
          </select> -->
        </div>

      </div>

      <div class="form-group mx-4 my-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-archive"></i></div>
          </div>
          <input name="offer[stock]" type="number" class="form-control" placeholder="Quantidade em estoque"></input>
        </div>
      </div>

      <div class="form-group mx-4 my-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-archive"></i></div>
          </div>
          <input name="offer[minAmount]" type="number" class="form-control" placeholder="Quantidade mínima na compra"></input>
        </div>
      </div>

      <div class="form-group mx-4 my-2">
        <label for="usd" class="mt-3"> Deseja variar o valor com o dólar? </label>
        <div class="radio">
          <label><input type="radio" name="offer[usd]" value="1">Sim</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="offer[usd]" value="0">Não</label>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group mx-4 my-2">
        <label for="price" class="rounded bg-black"><i class="fas fa-dollar-sign fa-sm mr-2"></i> Preços: </label>
      </div>

      <div class="form-group mx-4 my-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-arrow-down"></i></div>
          </div>
          <input name="offer[price][low]" type="number" class="form-control" placeholder="Baixo"></input>
        </div>
      </div>

      <div class="form-group mx-4 my-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-arrow-right"></i></div>
          </div>
          <input name="offer[price][average]" type="number" class="form-control" placeholder="Médio"></input>
        </div>
      </div>

      <div class="form-group mx-4 my-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-arrow-up"></i></div>
          </div>
          <input name="offer[price][high]" type="number" class="form-control" placeholder="Alto"></input>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group mx-4 my-2 mt-3">
        <label for="price" class="rounded bg-black"><i class="fas fa-boxes fa-sm mr-2"></i> Quantidade para mudança de preço: </label>
      </div>

      <div class="form-group mx-4 my-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-dollar-sign"></i></div>
          </div>
          <input name="offer[breakpoints][average]" type="number" class="form-control" placeholder="Muda para o preço médio"></input>
        </div>
      </div>

      <div class="form-group mx-4 my-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-dollar-sign"></i></div>
          </div>
          <input name="offer[breakpoints][low]" type="number" class="form-control" placeholder="Muda para o preço baixo"></input>
        </div>
      </div>

      <div class="form-group mx-4 my-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-car"></i></div>
          </div>
          <select class="form-control" name="offer[delivery]">
            <option disabled selected value> Forma de entrega </option>
            <option value="em até 48 horas">Em até 48 horas</option>
            <option value="em até 31 dias">Em até 31 dias</option>
            <option value="safra">Safra</option>
            <option value="safrinha">Safrinha</option>
          </select>
        </div>
      </div>
      </div>
    </div>
  <div>
    <button class="btn btn-default bg-green text-light mx-auto mt-4 px-5 mb-3 d-block" type="submit">Enviar</button>
  </div>
</form>

{{#section 'scripts'}}
<script type="text/javascript">
  $(document).ready(() => {
    $("#category").change(() => {
      $.get("teste", { category: $('#category').val() }, (result) => {
        $("#product-selector").html(result);
      });
    });
  });
</script>
<script src="/javascripts/search.js"></script>


<!-- <script src="/javascript/typeahead.bundle.js" type="text/javascript"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('input.typeahead').typeahead({
      name: 'typeahead',
      remote: 'http://localhost:3000/search/products?filter=%QUERY',
      limit: 10
    });
  });
</script> -->
{{/section}}
