<select class="form-control col-2" name="offer[product]">
  <option disabled selected value> -- Selecione uma opção -- </option>
  {{#each products}}
    <option value="{{name}}">{{name}}</option>
  {{/each}}
</select>
