body{
  background-image: url(../img/wheat-175960_1920.jpg);
  background-repeat: no-repeat;
  font-family: 'Dosis', serif;
}

.container{
    padding-top: 50px;
}

.categorias{
  text-transform: uppercase;
  font-weight:bold;

  margin-right: 10px;
  width: 300px;
  clear: left;
  margin-top:10px;
  padding-bottom:10px;
}
.categorias{
  float:left;
  font-size: 10px;
}

.categorias nav{
  text-align: center;
  padding:0;
}

nav ul{
  list-style:none;
}

.categorias li{
  background-color:white;
  margin-bottom:1px;
  padding: 5px 10px;
}

.categorias li ul{
  display: none;
}

.categorias li:hover ul{
  display:block;
}

#industria{
  background-color: #e8ef00;
}


#produtor{
  background-color: #a3bf24;
}


#franqueado{
  background-color: #80b625;
}


#revenda{
  background-color: #617b13;
}
