body {
  background-color: #EEE;
}

.card {
  font-family: Montserrat;
  background-color: #212529;
  color: #EEE;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card {
  margin: 5px 5px 0 5px;
  padding: 0;
}

.card-text {
  font-family: Varela Round;
}

.card-icon
{
  color: #212529;
  background-color: #EEE;
  padding: 0.5em;
  border-radius: 50%;
}

#results-header {
  padding: 10px 5px 5px 10px;
  font-family: Varela Round;
}

  #results-header span {
    font-size: 1.5em;
    vertical-align: center;
  }

  #results-header button {
    font-size: 1.5em;
    margin-left: 15px;
  }

#results-header-title {
  font-family: Valera Round
}
