body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    font-family: 'Dosis', serif;

    background-position: center top;
    background-repeat: no-repeat;
}

.container{
    padding-top: 50px;
}
