@import ../bootstrap/scss/bootstrap.scss
@import ../fonts/fontawesome/fontawesome-all.css

//  INDEX
//    Default color
//    Default backgrounds
//    Default text colors
//    Default fonts
//    Default header and navbar
//    Users options list
//    Default cards
//    Default images

//
// Default colors
//
$dark-color: #232323
$dark2-color: #5b5b5b
$light-color: #dddddd
$green-color: #3b9939 // A definir
$green-color2: #537c00
$gray-color: #939393
$red-color: #db4437

//
// Default settings
//
body
  background-color: $light-color
  height: 100%

//
//Default backgrounds
//
.bg-dark
  background-color: $dark-color !important

.bg-dark2
  background-color: $dark2-color

.bg-light
  background-color: $light-color !important

.bg-green
  background: $green-color

.bg-green2
  background: $green-color2

.bg-img1
  background-image: url('../images/bg-g.jpg')
  background-size: cover
  background-position: top
  background-repeat: no-repeat

  .bg-img2
    background-image: url('../images/AdobeStock_89784591_Preview.jpeg')
    background-size: cover
    background-position: top
    background-repeat: no-repeat

//
// Default text colors
//
.text-dark
  color: $dark-color !important

.text-dark2
  color: $dark2-color

.text-light
  color: $light-color !important

.text-gray
  color: $gray-color !important

.text-button
  color: $green-color

.text-red
  color: $red-color !important

//
// Default fonts
//
body
  font-family: sans-serif

button, h2, h4, h6, h7, p, i, a, dt, li
  font-family: 'Dosis'

h1, h3, h5, span
  font-family: 'Montserrat'

//
// Default header and navbar
//
nav
  background-color: $dark-color

.nav-item a,
.nav-item .fas,
.navbar .fas
  color: $light-color

.nav-item .fas
  margin-right: 10px

nav .form-control
  display: none

//
// Users options list
//
.list-group-item
  background-color: $light-color
  color: $dark-color
  padding-top: 20px
  padding-bottom: 20px

.list-group-item .fas:not(.float-right)
  margin-right: 10px

.list-group-item .float-right
  color: #999

//
// Default cards
//
.card
  background-color: $dark-color
  color: $light-color

.card-icon
  color: #212529
  background-color: #EEE
  padding: 0.5em
  border-radius: 50%

//
// Default images
//
img.navbar-brand
  width: 100px

img.footer-brand
  width: 200px

.grayscale
  filter: grayscale(100%)

.badge
  width: 200px
  padding: 7px 25px 2px 25px
  border-radius: 20px
  margin: 2px

.badge2
  border-radius: 20px

.product-myOrders
  margin-top: 20px

.termsOfUse
  border: none
  padding: 5px
  width: 500px
  height: 150px
  overflow: scroll


.info
  border: none
  width: 2000px
  height: 400px
  overflow: scroll


  /* Scrollbar styles */
.info::-webkit-scrollbar
  width: 8px
  height: 8px


.info::-webkit-scrollbar-track
  border: 1px solid yellowgreen


.info::-webkit-scrollbar-thumb
  background: yellowgreen


.info::-webkit-scrollbar-thumb:hover
  background: #88ba1c
