body {
  background-color: #212529;
}

.list-group-item {
  background-color: #212529;
  color: #EEE;
  padding-top: 20px;
  padding-bottom: 20px;
}

.list-group-item .fas:not(.float-right) {
  margin-right: 10px;
}

.list-group-item .float-right {
  color: #999;
}
