{{#section 'stylesheets'}}
<link rel='stylesheet' href='/stylesheets/home.css'>
{{/section}}

<!-- NavBar -->
<header class="bg-dark">
  <h1 class="d-none">MegaPool</h1>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a href="/site/">
      <img class="ml-2 mt-2 navbar-brand text-center pr-3" src="/images/logo menor.png" alt="MegaPool"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link pr-2" href="/site/about">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pr-2" href="/site/franchisee" onkeyup="">Franqueado</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/site/contact">Contato</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- end NavBar -->

  <!-- Banner -->
  <div class="container-fluid bg-img1 h-100">
    <div class="row text-center justify-content-center py-5 my-5">
      <div class=" py-5 my-5">
        <h1 class="slogan text-light">A primeira plataforma online de agronegócios do Brasil</h1>
      </div>
    </div>

    <div class="row text-center justify-content-center py-5 my-5">
      <div class="col-12 col-sm-8 col-md-4 py-5 my-5">
        <a class="w-100 btn btn-default bg-green text-white" href="/signup">Cadastrar-se</a>
      </div>
      <div class="col-12 col-sm-8 col-md-4 py-5 my-5">
        <a class="w-100 btn btn-default bg-green text-white" href="/login">Entrar</a>
      </div>
    </div>
  </div>
  <!-- end Banner -->

  <div class="container mb-5">
    <div class="row mb-5" id="about">
      <div class="col-12">
        <h5>O CADASTRO É OBRIGATÓRIO.</h5>
        <p>Atendendo as leis: 7.802/89 e 9.294/96, a plataforma MEGAPOOL é exclusiva para produtores rurais, indústria, distribuidores e profissionais do setor agrícola, não podendo atender população urbana ou pessoas físicas.</p>
      </div>
    </div>
  </div>

  <footer class="bg-dark mt-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <form action="/newsletter" method="post">
            <div class="row justify-content-center form-row" id="form-nl">
              <label><p class="text-dark2"> Cadastre-se na nossa newsletter para ficar por dentro das novidades da plataforma: </label>
              </div>
              <div class="row justify-content-center form-row" id="form-nl">
                <div class="col-12 col-md-8">
                  <input type="name" placeholder="Nome completo" class="form-control" name="newsletter[fullName]" id="name">
                  <input type="email" placeholder="Email" class="form-control mt-2" name="newsletter[email]" id="mail">
                </div>
                <div class="col-12 col-md-3">
                  <button type="submit" class="btn btn-primary btn-block">Cadastre-se</button>
                </div>
              </div>
            </form>
          </div>

          <div class="col-12 col-md-4 mt-4">
            <img class="float-left grayscale footer-brand border-right pr-3 mr-3" src="/images/logo menor.png" alt="MegaPool">
            <div class="">
              <ul class="list-unstyled">
                <li><a class="text-dark2" href="/site/about">Sobre</a></li>
                <li><a class="text-dark2" href="/site/franchisee">Trabalhe conosco</a></li>
                <li><a class="text-dark2" href="/site/contact">Contato</a></li>
                <li></li>
                <li></li>

              </ul>
            </div>
          </div>

          <div class="col-12 col-md-4 mt-4">
            <div class="row justify-content-center">
              <a class="social facebook" href="https://www.facebook.com/megapoolagro"><i class="mt-2 fa fa-facebook fa-2x"></i></a>
              <a class="social twitter" href="https://twitter.com/megapoolagro"><i class="mt-2 fa fa-twitter fa-2x"></i></a>
              <a class="social linkedin" href="https://www.linkedin.com/company/megapoolagro"><i class="mt-2 fa fa-linkedin fa-2x"></i></a>
              <a class="social youtube" href="https://www.youtube.com/channel/UCJ42yAsesMyVJJsZUJt20pw"><i class="mt-2 fa fa-youtube fa-2x"></i></a>
            </div>
          </div>

          <div class="col-12 col-md-4 mt-4">
            <div class="text-left text-md-right text-dark2 mt-3">
              <ul class="list-unstyled">
                <li>Rua Gloria Senna, Sítio Cercado, nº 67. Curitiba-PR</li>
                <li>CEP: 81900-670</li>
                <li>Email: contato@megapool.com.br</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>

    {{#section 'scripts'}}
    {{/section}}
