{{#section 'stylesheets'}}
  <link rel='stylesheet' href='/stylesheets/home.css'>
{{/section}}

<!-- NavBar -->
<header class="bg-dark">
	<h1 class="d-none">MegaPool</h1>
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a href="/site/">
			<img class="ml-2 mt-2 navbar-brand text-center pr-3" src="/images/logo menor.png" alt="MegaPool"></a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link pr-2" href="/site/about">Sobre</a>
				</li>
				<li class="nav-item">
					<a class="nav-link pr-2" href="#workWithUs">Franqueado</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/site/contact">Contato</a>
				</li>
			</ul>
		</div>
	</nav>
</header>
<!-- end NavBar -->

<!-- Banner -->
<div class="container-fluid bg-img1 h-100 py-5 mt-5">
	<div class="row text-center justify-content-center py-5">
		<div class="col-12">
			<h1 class="slogan">A primeira plataforma online de agronegócios do Brasil</h1>
		</div>
	</div>

	<div class="row text-center justify-content-center py-5 my-5">
		<div class="col-12 col-sm-8 col-md-4 pb-2">
			<a class="w-100 btn btn-default bg-green text-white" href="/signup">Cadastrar-se</a>
		</div>
		<div class="col-12 col-sm-8 col-md-4">
			<a class="w-100 btn btn-default bg-green text-white" href="/login">Entrar</a>
		</div>
	</div>
</div>
<!-- end Banner -->

<div class="container mb-5">
  <div class="row mb-5" id="about">
		<div class="col-12">
      <h5>O CADASTRO É OBRIGATÓRIO.</h5>
      <p>Atendendo as leis: 7.802/89 e 9.294/96, a plataforma MEGAPOOL é exclusiva para produtores rurais, indústria, distribuidores e profissionais do setor agrícola, não podendo atender população urbana ou pessoas físicas.</p>
    </div>
  </div>
</div>

<footer class="bg-dark mt-5">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6">
				<img class="float-left grayscale footer-brand border-right pr-3 mr-3" src="/images/logo menor.png" alt="MegaPool">
				<div class="">
					<ul class="list-unstyled">
						<li><a class="text-dark2" href="/site/about">Sobre</a></li>
						<li><a class="text-dark2" href="/site/franchisee">Trabalhe conosco</a></li>
						<li><a class="text-dark2" href="/site/contact">Contato</a></li>
					</ul>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="text-left text-md-right text-dark2 mt-3">
          <ul class="list-unstyled">
						<li>Rua Gloria Senna, Sítio Cercado, nº 67. Curitiba-PR</li>
						<li>CEP: 81900-670</li>
						<li>Email: contato@megapool.com.br</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>

{{#section 'scripts'}}
{{/section}}
