<!-- NavBar -->
<div class="pos-f-t">
  <nav class="navbar navbar-dark">
    <button class="btn btn-outline-dark" type="button" onclick="history.back()">
      <i class="fas fa-arrow-left fa-2x"></i>
    </button>

    <form id="navbar-form" action="./results" method="get" class="float-right my-2 my-lg-0 my-sm-0">
      <input class="form-control my-2 my-sm-0 float-right" type="search" placeholder="Buscar">
      <button class="btn btn-outline-dark " type="button">
        <i class="fas fa-search fa-2x"></i>
      </button>
    </form>
  </nav>
</div>
<!-- end NavBar -->

<!-- Filters Header -->
<div class="filters-header row justify-content-md-end justify-content-center mx-1 mt-2 mb-1">
  <div class="col-12 col-md-8 d-flex align-items-center justify-content-between">
    <div class="">
      <h4 class="my-auto">Minhas compras</h4>
    </div>
    <div class="">
      <button type="button" name="button" class="btn ml-1">
        <i class="fas fa-sort-amount-down "></i>
      </button>
      <button type="button" name="button" class="btn ml-1">
        <i class="fas fa-filter "></i>
      </button>
    </div>
  </div>
</div>
<!-- end Filters Header -->

<!-- Orders -->
<div id="results-list" class="row justify-content-md-end justify-content-center mt-2 mx-0">
  <div class="col-12 col-md-8">

    <div class="card mb-1">
      <div class="card-body">
        <div class="text-center">
          <h7 class="card-title align-text-top text-gray">Compra #13252135 - 19/03/2018</h7>
          <div class="w-100">
          </div>
            <span class="badge badge-primary">
              <h6>Em andamento</h6>
            </span>
          <p class="card-text align-text-bottom text-gray">Prazo até dia 15/06/2018</p>
        </div>
        <h5 class="card-title align-text-top product-myOrders">Defensivo 56</h5>
      </div>
    </div>

    <div class="card mb-1">
      <div class="card-body">
        <div class="text-center">
          <h7 class="card-title align-text-top text-gray">Compra #243423442 - 19/03/2018</h7>
          <div class="w-100">
          </div>
            <span class="badge badge-success">
              <h6>Entregue</h6>
            </span>
          <p class="card-text align-text-bottom text-gray">Chegou dia 15/06/2018</p>
        </div>
        <h5 class="card-title align-text-top product-myOrders">Sementes FG59</h5>
      </div>
    </div>

    <div class="card mb-1">
      <div class="card-body">
        <div class="text-center">
          <h7 class="card-title align-text-top text-gray">Compra #43535435 - 19/03/2018</h7>
          <div class="w-100">
          </div>
            <span class="badge badge-danger">
              <h6>Cancelado</h6>
            </span>
          <p class="card-text align-text-bottom text-gray">Prazo para pagamento excedido</p>
        </div>
        <h5 class="card-title align-text-top product-myOrders">Adubo 548C</h5>
      </div>
    </div>

  </div>
</div>
<!-- end Orders -->
