{{#section 'stylesheets'}}
{{/section}}
<div class="pb-3 gradient-background text-white">
  <h3 class="text-center font-black">Novo Produto</h3>
</div>
<div class="pl-5 pr-5 pt-2">
<form action="/products" method="POST">
  <div class="row d-flex justify-content-between">
    <div class="form-group col-md-3 col-10 mx-4 my-2">
      <div class="user-input">
        <br/>
        <div class="input-group mb-2">
         <div class="input-group-prepend">
           <div class="input-group-text"><i class="fas fa-cart-arrow-down"></i></div>
         </div>
        <input name="product[name]" type="text" class="form-control input-text" required/>
        <label class="floating-label text-dark2">Nome do Produto</label>
          </div>
      </div>
    </div>
    <div class="form-group col-md-3 col-10 mx-4 my-2">
      <br/>
      <label for="category" class="sr-only">Categoria</label>
      <div class="input-group mb-2">
       <div class="input-group-prepend">
         <div class="input-group-text"><i class="fas fa-boxes"></i></div>
       </div>
       <select class="form-control new-shadow" name="product[category]" id="category">
         <option disabled selected value> -- Categoria -- </option>
         <option value="Fertilizantes sólidos">Fertilizantes sólidos</option>
         <option value="Defensivos agrícolas/agrotóxicos">Defensivos agrícolas/agrotóxicos</option>
         <option value="Sementes">Sementes</option>
         <option value="Fertilizantes líquidos/adjuvantes/biológicos">Fertilizantes líquidos/adjuvantes/biológicos</option>
       </select>
      </div>
    </div>
    <div class="form-group col-md-3 col-10 mx-4 my-2">
      <div class="user-input">
        <br/>
        <div class="input-group mb-2">
         <div class="input-group-prepend">
           <div class="input-group-text"><i class="fas fa-newspaper"></i></div>
         </div>
         <textarea rows="4" name="product[description]" class="form-control input-text" required/></textarea>
         <label class="floating-label text-dark2">Descrição</label>
         </div>
      </div>
    </div>
  </div>

    <div class="row d-flex justify-content-between">
      <div class="form-group col-md-3 col-10 mx-4 my-2">
        <div class="user-input">
          <br/>
          <div class="input-group mb-2">
           <div class="input-group-prepend">
             <div class="input-group-text"><i class="fas fa-industry"></i></div>
           </div>
           <input name="product[manufacturer]" type="text" class="form-control input-text" required/>
           <label class="floating-label text-dark2">Fabricante</label>
          </div>
           <input type="radio" name="product[generic]" value="Original"></input>
          <label>Produto não genérico</label>
        </div>
      </div>

      <div class="form-group col-md-3 col-10 mx-4 my-2">
        <br/>
        <div class="input-group mb-2">
         <div class="input-group-prepend">
           <div class="input-group-text"><i class="fas fa-balance-scale"></i></div>
         </div>
         <select class="form-control new-shadow" name="product[unit]" id="un">
           <option disabled selected value> -- Unidade -- </option>
           <option value="kg">Kilogramas</option>
           <option value="unidade">Unidade</option>
         </select>
        </div>
      </div>
      <div class="form-group col-md-3 col-10 mx-4  my-2">
        <p hidden>Hidden paragraph for alignment purposes.</p>
      </div>
    </div>

    <div class="row d-flex justify-content-between">
      <div class="form-group col-md-4 mx-4 my-2">
        <label for="activeIng" class="rounded bg-black"><i class="fas fa-flask fa-sm mr-2"></i>Princípio Ativo</label>
        <div class="user-input">
          <br/>
          <div class="form-group mb-2">
            <div class="input-group" id="chems-list">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-search"></i></div>
              </div>
              <input name="chem-selected" class="form-control typeahead" type="text" placeholder="Nome do princípio ativo">
            </div>
          </div>
        </div>

        <!-- <div class="row">
          {{#each chems}}
            <label class="d-block col-md-3 col-6"><input type="checkbox" name="product[chem][]" class="mr-1" value="{{_id}}" id="activeIng">{{name}}</label>
          {{/each}}
        </div> -->
        <button class="btn btn-default bg-green text-light" id="add-chem" type="button">Adicionar</button>
        <div class="" id="select-chem">
        </div>
      </div>
  </div>
  <button class="btn btn-default bg-green text-light mx-auto mt-4 px-5 mb-3 d-block" type="submit">Enviar</button>
</form>
</div>

{{#section 'scripts'}}
<script src="/javascripts/chem.dropdown.js"></script>
{{/section}}
