<h1>Cadastre-se na Nossa Lista de Email</h1>

<form action="/newproduct" method="POST">
  <p>Diga-nos o nome</p>
  <input name="productname" type="text"></input>
  <p>Digite a categoria</p>
  <input name="category" type="text"></input>
  <p>manufacturer</p>
  <input name="manufacturer" type="text"></input>
  <p>Description</p>
  <input name="description" type="text"></input>
  <p>Unidade</p>
  <input name="unit" type="text"></input>
  <button class="btn" type="submit">Enviar</button>
</form>
