<h1>Novo Produto</h1>

<form action="/products" method="POST">
  <p>Nome do produto</p>
  <input name="product[name]" type="text"></input>
  <p>Categoria</p>
  <select class="form-control col-2" name="product[category]">
    <option disabled selected value> -- Selecione uma opção -- </option>
    <option value="Fertilizantes sólidos">Fertilizantes sólidos</option>
    <option value="Defensivos agrícolas/agrotóxicos">Defensivos agrícolas/agrotóxicos</option>
    <option value="Sementes">Sementes</option>
    <option value="Fertilizantes líquidos/adjuvantes/biológicos">Fertilizantes líquidos/adjuvantes/biológicos</option>
  </select>
  <p>Fabricante</p>
  <input name="product[manufacturer]" type="text"></input>
  <div class="col-12">
    <input type="radio" name="product[generic]" value="Original"></input>
    <label>Produto não genérico</label>
  </div>
  <p>Descrição</p>
  <input name="product[description]" type="text"></input>
  <p>Unidade</p>
  <select class="form-control col-2" name="product[unit]">
    <option disabled selected value> -- Selecione uma opção -- </option>
    <option value="kg">Kilogramas</option>
    <option value="unidade">Unidade</option>
  </select>
  <p>Princípio Ativo</p>
    {{#each chems}}
      <input type="checkbox" name="product[chem][]" value="{{_id}}">
      <label>{{name}}</label>
    {{/each}}
  </select>
  <div>
      <button class="btn" type="submit">Enviar</button>
  </div>
</form>
